nav.nav
  .menu.column.v-centered
    .container.column
      a.item-start.menu-link.text-yellow-primary(href="index.html") Inicio
      a.item-start.menu-link.text-yellow-primary(href="el-equipo-de-los-candidatos.html") El equipo de los candidatos
      a.item-start.menu-link.text-yellow-primary(href="metodologia.html") Metodología
      a.item-start.menu-link.text-yellow-primary(href="equipo.html") Nuestro equipo
  .container.line.justify-between.v-centered
    .burger-box: .burger: span
    a(href="https://www.datasketch.co/es"): img(src="assets/media/logo.png", alt="Logo Datasketch")