nav {
  background: transparent;
}
.home-title {
  font-size: 50px;
  letter-spacing: 5px;
  margin: 0;
  padding: 0 20px;
  text-transform: uppercase;
  @media only screen and (min-width: 992px) {
    font-size: 70px;
  }
}
.home-description {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 10px 0;
  text-transform: uppercase;
  @media only screen and (min-width: 992px) {
    font-size: 20px;
  }
}
.section-ten-more-title {
  font-size: 35px;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
  @media only screen and (min-width: 992px) {
    font-size: 70px;
  }
}
.section-ten-more-description {
  font-size: 13px;
  margin: 10px 0;
  text-transform: uppercase;
  white-space: pre-wrap;
  word-wrap: break-word;
  @media only screen and (min-width: 992px) {
    font-size: 20px;
  }
}
.anchor-ten-more {
  border-bottom: 1px solid white;
  font-size: 13px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  @media only screen and (min-width: 992px) {
    font-size: 20px;
  }
}
span[data-balloon] {
  background: rgba(242, 97, 1, 0.6);
  line-height: 18px;
  text-align: left;
}
.container-section-story {
  max-width: 80%;
  margin: 0 auto;
  @media only screen and (min-width: 992px) {
    max-width: 60%;
  }
  .story {
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    .bigger {
      // font-size: 150%;
      font-weight: bold;
    }
    .Row {
      margin-bottom: 20vh;
    }
    .Row:nth-child(1) {
      margin-top: 20vh;
    }
    .Row:nth-child(odd) {
      justify-content: flex-end;
      text-align: right;
    }
    .Row:nth-child(even) {
      color: #f26101;
    }
    .text-shrinked {
      width: 100%;
      @media only screen and (min-width: 768px) {
        width: 80%;
        p {
          line-height: 25px;
        }
      }
      @media only screen and (min-width: 992px) {
        width: 50%;
        p {
          line-height: 30px;
        }
      }
    }
  }
}
/* APP */
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#app.center {
  justify-content: center;
  align-items: center;
}

.app-content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  left: 0;
  max-height: 100%;
  overflow: auto;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 100%;
}

.app-content .filters-box,
.app-content .people-box{
  padding: 0 5px;
  width: 100%;
  @media only screen and (min-width: 768px) {
    width: 50%;
  }
}

.people-box-content {
  margin-top: 10px
}

.people-box {
  height: 100%;
  overflow: auto;
  input {
    border: none;
    border-bottom: 1px solid #cacece;
    box-shadow: none;
    max-width: 100%;
    padding: 10px;
    width: 100%;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
}

.people-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  .person {
    border-radius: 2px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    .person-avatar {
      width: 50px;
      height: 50px;
      filter: grayscale(1);
      border-radius: 50%;
    }
    p {
      margin: 2px 0;
    }
  }
}

.person-detail a {
  align-self: flex-end;
  color: #b6baba;
}
.card {
  margin-top: 10px;
  .card-info {
    align-items: flex-start;
    .card-avatar {
      max-width: 100px;
      filter: grayscale(1);
    }
    .card-header {
      margin-left: 10px;
      p {
        margin: 0 0 5px;
      }
    }
  }
}

.filters-box {
  display: flex;
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
}
.filters-box.center {
  align-items: center;
  justify-content: center;
}
.filters-home {
  color: #fa6271;
  text-align: center;
  h1 {
    display: inline-block;
    font-size: 50px;
    font-style: italic;
    margin: 0 0 15px;
    position: relative;
    @media only screen and (min-width: 992px) {
      font-size: 70px;
    }
    &::before {
      background: #fa6271;
      bottom: 0;
      content: '';
      height: 2px;
      left: -5%;
      position: absolute;
      width: 110%;
    }
  }
  pre {
    margin: 0 0 15px;
    text-transform: uppercase;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  a {
    background: #fa6271;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
  }
}
.filters-form-box {
  margin: 0 auto;
  width: 80%;
  h1 {
    font-style: italic;
    margin-top: 0;
    text-align: right;
  }
  table {
    color: #808080;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 20px;
    width: 100%;
    .filter-label {
      text-align: right;
    }
    td:not(.filter-label) {
      text-align: center;
    }
  }
}
.filters-navigation {
  justify-content: flex-end;
  a:nth-child(1) {
    margin-right: 10px
  }
}
.clear-all {
  cursor: pointer;
  display: inline-block;
}
.outro {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  h1 {
    font-style: italic;
  }
  a {
    background: #fa6271;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
  }
}