// Order: vars, mixins, others
@import 'vars';
@import 'mixins';
@import 'nav';

html,
body {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}
body.no-scroll {
  overflow: hidden;
}

// Footer
footer {
  font-size: small !important;
  padding: 20px 0;
}
footer .footer-container {
  width: 90%;
  margin: 0 auto;
}
footer p {
  margin: 0 0 10px;
}
footer a {
  color: inherit;
}
footer img {
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  footer .footer-container {
    width: 75%;
  }
}

// Reset
p, ul, a {
  font-size: 1.5rem;
}
h1 {
  font-size: 2rem;
}

// Images
figure {
  margin: 0 0 20px;
}
figure img {
  margin: auto;
  max-width: 100%;
}
figcaption {
  border-radius: 4px;
  border: 1px solid #000000;
  margin: 5px 0 0 0;
  padding: 10px;
  position: relative;
}
figcaption:before {
  border-radius: 4px;
  border: 1px solid #000000;
  bottom: 2px;
  content: '';
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px;
}

// Layout
.container {
  margin: 0 auto;
  position: relative;
  width: 95%;
}

// Fonts
.font-exo {
  font-family: 'Exo 2', sans-serif;
}
.font-press {
  font-family: 'Press Start 2P', cursive;
}

// Background
.bg-blue {
  background-color: $ds-blue;
}
.bg-bluegray {
  background-color: $ds-bluegray;
}
.bg-green {
  background-color: $ds-green; 
}

// Text
.text-yellow-primary {
  color: $ds-yellow-primary;
}
.text-center {
  text-align: center;
}

// Breakpoints
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
}