<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="theme-color" content="#0A092B")
    meta(name="description" content="Conoce la letra menuda de la contratación pública en Colombia, analizamos más de 6 millones de contratos públicos y esto fue lo que encontramos.")
    meta(itemprop="name" content="La letra menuda | Especiales Datasketch")
    meta(itemprop="description" content="Conoce la letra menuda de la contratación pública en Colombia, analizamos más de 6 millones de contratos públicos y esto fue lo que encontramos.")
    meta(itemprop="image" content="")
    meta(property="og:url" content="http://especiales.datasketch.co/contratos-colombia")
    meta(property="og:type" content="website")
    meta(property="og:title" content="La letra menuda | Especiales Datasketch")
    meta(property="og:description" content="Conoce la letra menuda de la contratación pública en Colombia, analizamos más de 6 millones de contratos públicos y esto fue lo que encontramos.")
    meta(property="og:image" content="http://especiales.datasketch.co/contratos-colombia/assets/media/bannerseo.png")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="La letra menuda | Especiales Datasketch")
    meta(name="twitter:description" content="Conoce la letra menuda de la contratación pública en Colombia, analizamos más de 6 millones de contratos públicos y esto fue lo que encontramos.")
    meta(name="twitter:image" content="http://especiales.datasketch.co/contratos-colombia/assets/media/bannerseo.png")
    block meta
    block title
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/randommonkey/ds.css/dist/ds.min.css")
    block css
    //- Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-110184023-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-110184023-1');
  body
    #wrapper
      include ./navbar
      block main
      include ./footer
    script(src="assets/js/default.js")
    block js