<header class="absolute py-4 top-0 left-0 w-full">
  <div class="container">
    <div class="flex items-center justify-between">
      <a href="{{.Site.BaseURL}}">
        <img src='{{ "images/logo_ds.svg" | absURL }}' alt="Logo Datasketch">
      </a>
      <div class="flex items-center mt-2">
        <a href="https://www.facebook.com/datasketch/" target="_blank" class="mr-4">
          <img src='{{ "images/facebook.svg" | absURL }}' alt="Logo facebook">
        </a>
        <a href="mailto:info@datasketch.co" class="mr-4">
          <img src='{{ "images/email.svg" | absURL }}' alt="Logo email">
        </a>
        <a href="https://twitter.com/datasketch" target="_blank">
          <img src='{{ "images/twitter.svg" | absURL }}' alt="Logo twitter">
        </a>
      </div>
    </div>
  </div>
</header>