extends ./partials/layout

block title
  title Nuestro equipo - Elecciones Congreso 2018 | Especiales Datasketch

block css
  link(rel="stylesheet", href="assets/css/post.css")

block main
  main
    .container-section-post
      h1.font-family--changa.post-title Nuestro equipo
      .team-container
        .team-member
          img(src="https://res.cloudinary.com/randommonkey/image/upload/v1513706348/equipo/woman.png", alt="Ana Hernández")
          .team-member-info
            span.font-family--exo Ana Hernández
        .team-member
          img(src="https://res.cloudinary.com/randommonkey/image/upload/g_face/v1513706723/equipo/camila_achuri.png", alt="Camila Achuri")
          .team-member-info
            span.font-family--exo: a(href="https://github.com/camilaachury" target="_blank" rel="noopener noreferrer") Camila Achuri
        .team-member
          img(src="https://res.cloudinary.com/randommonkey/image/upload/c_thumb,g_face,h_150,w_150/v1519441758/equipo/FOTO-Andrea_Cervera.jpg", alt="Andrea Cervera")
          .team-member-info
            span.font-family--exo: a(href="https://twitter.com/andescribe" target="_blank" rel="noopener noreferrer") Andrea Cervera
        .team-member
          img(src="https://res.cloudinary.com/randommonkey/image/upload/c_thumb,g_face,w_150/v1513886830/equipo/21014225.jpg", alt="David Daza")
          .team-member-info
            span.font-family--exo: a(href="https://github.com/ddazal" target="_blank" rel="noopener noreferrer") David Daza
        .team-member
          img(src="https://res.cloudinary.com/randommonkey/image/upload/c_thumb,g_face,w_150/v1513708695/equipo/uva.jpg", alt="Eliana Vaca")
          .team-member-info
            span.font-family--exo: a(href="http://uvavaca.com/" target="_blank" rel="noopener noreferrer") Eliana Vaca
        .team-member
          img(src="https://res.cloudinary.com/randommonkey/image/upload/g_face/v1513706352/equipo/jpmarindiaz.png", alt="Juan Pablo Marín")
          .team-member-info
            span.font-family--exo: a(href="https://twitter.com/jpmarindiaz?lang=es" target="_blank" rel="noopener noreferrer") Juan Pablo Marín
        .team-member
          img(src="https://res.cloudinary.com/randommonkey/image/upload/g_face/v1513706349/equipo/juliana_galvis.jpg", alt="Juliana Galvis")
          .team-member-info
            span.font-family--exo: a(href="https://twitter.com/GalvisNieto" target="_blank" rel="noopener noreferrer") Juliana Galvis
        .team-member
          img(src="https://res.cloudinary.com/randommonkey/image/upload/g_face/v1513706348/equipo/marisa.jpg", alt="Maria Isabel Magaña")
          .team-member-info
            span.font-family--exo: a(href="https://twitter.com/marisamagar?lang=es" target="_blank" rel="noopener noreferrer") María Isabel Magaña
        .team-member
          img(src="https://res.cloudinary.com/randommonkey/image/upload/c_scale,w_150/v1513711891/equipo/veronica.jpg", alt="Verónica Toro")
          .team-member-info
            span.font-family--exo Verónica Toro