extends ./partials/layout

block title
  title No bote el voto - Elecciones Congreso 2018 | Especiales Datasketch

block css
  link(rel="stylesheet", href="assets/css/index.css")
  link(rel="stylesheet", href="vendors/balloon.min.css")

block main
  main
    .half-height.bg-emerald.Column.VCenter.HCenter
      .container-section
        h1.home-title.font-family--changa.text-color--white.text-align--center No bote el voto
        p.home-description.font-family--exo.text-color--white.text-align--center Conozca los candidatos al Congreso de la República
        img.block(src="assets/media/voto.svg", alt="Ícono de votación" style="width: 50px;margin: 0 auto;")
    .full-height-fixed#app(:class="{ center: !loaded }")
      template(v-if="!loaded")
        p: i.fas.fa-spinner.fa-pulse.fa-3x
        span.font-family--exo Cargando...
      template(v-if="loaded")
        p(style="display: none") {{filtered}}
        .app-content
          .filters-box(:class="{ center: !began }")
            .filters-home(v-if="!began")
              h1.font-family--changa Filtra
              pre.font-family--exo.font-weight-light.
                Los candidatos  
                por categoría
              a.font-family--exo(href="" @click.prevent="showFilterForm") Empezar
            template(v-if="began")
              .filters-form-box.SelfCenter(v-if="count == 1")
                h1.text-salmon.font-family--changa ¿A favor o en contra?
                form
                  table
                    tbody
                      tr
                        td
                        td Favor
                        td Contra
                      tr.spacer
                      tr
                        td.filter-label: span Matrimonio homosexual
                        td: input(type="radio" value="true" v-model="filters.matrimonio")
                        td: input(type="radio" value="false" v-model="filters.matrimonio")
                      tr
                        td.filter-label: span Adopción por parte de homosexuales
                        td: input(type="radio" value="true" v-model="filters.adopcion")
                        td: input(type="radio" value="false" v-model="filters.adopcion")
                      tr
                        td.filter-label: span Legalización del aborto
                        td: input(type="radio" value="true" v-model="filters.aborto")
                        td: input(type="radio" value="false" v-model="filters.aborto")
                      tr
                        td.filter-label: span Legalización de la marihuana
                        td: input(type="radio" value="true" v-model="filters.marihuana")
                        td: input(type="radio" value="false" v-model="filters.marihuana")
                      tr
                        td.filter-label: span Legalización de la eutanasia
                        td: input(type="radio" value="true" v-model="filters.eutanasia")
                        td: input(type="radio" value="false" v-model="filters.eutanasia")
                      tr
                        td.filter-label: span Acuerdo de Paz
                        td: input(type="radio" value="true" v-model="filters.paz")
                        td: input(type="radio" value="false" v-model="filters.paz")
                .filters-navigation.Row
                  a(href="" @click.prevent="backup" class="text-salmon font-family--changa" v-show="count != 1") Anterior
                  div(v-show="count == 1")
                  a(href="" @click.prevent="advance" class="text-salmon font-family--changa" v-show="count <= 4") Siguiente
              .filters-form-box.SelfCenter(v-if="count == 2")
                h1.text-salmon.font-family--changa Investigaciones
                form
                  table
                    tbody
                      tr
                        td.filter-label Procuraduría
                        td: input(type="checkbox" v-model="filters.procuraduria" value="true")
                      tr
                        td.filter-label Contraloría
                        td: input(type="checkbox" v-model="filters.contraloria" value="true")
                      tr
                        td.filter-label Policía
                        td: input(type="checkbox" v-model="filters.policia" value="true")
                .filters-navigation.Row
                  a(href="" @click.prevent="backup" class="text-salmon font-family--changa" v-show="count != 1") Anterior
                  div(v-show="count == 1")
                  a(href="" @click.prevent="advance" class="text-salmon font-family--changa" v-show="count <= 4") Siguiente
              .filters-form-box.SelfCenter(v-if="count == 3")
                h1.text-salmon.font-family--changa Canditato a
                form
                  table
                    tbody
                      tr
                        td.filter-label Cámara
                        td: input(type="checkbox" v-model="filters.camara" value="true")
                      tr
                        td.filter-label Senado
                        td: input(type="checkbox" v-model="filters.senado" value="true")
                .filters-navigation.Row
                  a(href="" @click.prevent="backup" class="text-salmon font-family--changa" v-show="count != 1") Anterior
                  div(v-show="count == 1")
                  a(href="" @click.prevent="advance" class="text-salmon font-family--changa" v-show="count <= 4") Siguiente
            .filters-form-box(v-if="count == 4")
                h1.text-salmon.font-family--changa Partido político
                form
                  table
                    tbody
                      tr(v-for="(party, key) in parties", :key="key")
                        td.filter-label {{ party }}
                        td: input(type="checkbox" v-model="filters.parties" :value="party")
                .filters-navigation.Row
                  a(href="" @click.prevent="backup" class="text-salmon font-family--changa" v-show="count != 1") Anterior
                  div(v-show="count == 1")
                  a(href="" @click.prevent="advance" class="text-salmon font-family--changa" v-show="count <= 4") Siguiente
            .outro.SelfCenter(v-if="count == 5")
              h1.text-salmon.font-family--changa Explora los resultados
              a.font-family--exo(href="" @click.prevent="reset") Reiniciar
          .people-box
            input.font-family--exo(type="text" placeholder="Busca por nombre" v-model.trim="search")
            small.font-family--exo.clear-all.text-salmon(@click="clearAll" v-show="began") Reiniciar todos los filtros
            .people-box-content
              template(v-if="master")
                people-list(:people="filtered" @detail="showDetail")
              template(v-else-if="!master")
                person-detail(@master="showAll" :person="person")
    .half-height.bg-orange.Column.VCenter.HCenter
      .container-section
        h1.section-ten-more-title.font-family--changa.text-color--white.text-align--center
          | Los más 
          span.font-family--bungee +
        pre.section-ten-more-description.text-color--white.text-align--center.font-family--exo.
          Quién lleva más tiempo en el congreso,
          quiénes fueron los más votados, 
          quiénes son los más cuestionados
        div.text-align--center: a.text-color--white.font-family--exo.anchor-ten-more(href="los-mas.html") Quiero saber más
    .half-height.bg-emerald.Column.VCenter.HCenter
      .container-section
        h1.section-ten-more-title.font-family--changa.text-color--white.text-align--center Radiografía
        pre.section-ten-more-description.text-color--white.text-align--center.font-family--exo.
          De elecciones al congreso 2018
        div.text-align--center: a.text-color--white.font-family--exo.anchor-ten-more(href="radiografia.html") Quiero saber más
    section
      .container-section-story
        .story
          .Row.story-item
            .text-shrinked
              p 
                | El Congreso colombiano como todos sabemos (y los que no), es el organismo del Estado que se encarga de 
                span.bigger legislar temas que repercuten en la vida de todas las personas en el país. 
                | Reforman la constitución, y además 
                span.bigger vigilan y monitorean a presidentes, alcaldes y gobernadores.
          .Row.story-item
            .text-shrinked
              p 
                | Se divide en 
                span.bigger dos partes, el Senado de la República y la Cámara de Representantes.
          .Row.story-item
            .text-shrinked
              p 
                | El Senado está conformado por 
                span.bigger 102 senadores. 
                | 100 elegidos por 
                span.bigger voto nacional 
                | y 2 por 
                span.bigger comunidades indígenas. 
                | Son representantes de toda la nación colombiana.
          .Row.story-item
            .text-shrinked
              p
                | La Cámara de representantes tiene 
                span.bigger 165 miembros
                | . 161 son elegidos por 
                span.bigger circunscripciones territoriales
                | , es decir por cada departamento. Otros 4 corresponden a 
                span.bigger circunscripciones especiales
                | : 2 para afrodescendientes, 1 para indígenas, y 1 para colombianos en el exterior.
          //- .Row.story-item
          //-   .text-shrinked
          //-     p
          //-       | En esta reforma se establece que 
          //-       span.bigger habrá 102 senadores y que serán elegidos 
          //-       span.highlight(data-balloon="Compiten en todo el territorio nacional por los votos" data-balloon-pos="up") en circunscripción nacional. 
          //-       | Para la Cámara de Representantes, la elección queda sujeta a 
          //-       span.highlight(data-balloon="Los representantes a la Cámara son elegidos por un departamento, y solo allí pueden votar por él. Se asignarán más curules a aquellos departamentos que tengan más población" data-balloon-pos="up" data-balloon-length="large") circunscripciones territoriales 
          //-       | y 
          //-       span.highlight(data-balloon="Garantizar la representación de determinados grupos étnicos, sociales y políticos. Se asignan dos curules a los indígenas, dos curules a las negritudes y una curul a los extranjeros" data-balloon-pos="up" data-balloon-length="large") especiales. 
          //-       span.bigger Habrá dos representantes por cada circunscripción territorial 
          //-       | y uno adicional por cada 365.000 habitantes. A la fecha son 166.
          .Row.story-item
            .text-shrinked
              p 
                | Si 
                span.bigger quieres ser congresista
                | , no puedes tener sentencias judiciales o privativas de la libertad, ser empleado público 12 meses antes de la elección, tener contratos con el Estado, estar en el mismo movimiento o partido de alguien con un vínculo de consanguinidad, ni tener doble nacionalidad. 
                span.bigger Además debes tener más de 25 años para postularte a la Cámara y 30 años para el Senado.
          .Row.story-item
            .text-shrinked
              p
                | Igualmente, 
                span.bigger ganarías 29.8 millones de pesos
                | , 37 veces el salario mínimo.
          .Row.story-item
            .text-shrinked
              p
                | LOs congresistas hacen
                span.bigger tres tipos de leyes
                | : las 
                span.bigger ‘marco’
                | , que regulan actividades específicas del Estado. Las 
                span.bigger ‘estatutarias’
                | , que reforman la constitución y garantizan los derechos fundamentales. Y las 
                span.bigger ‘orgánicas’
                | , que regulan entidades del Estado.
          .Row.story-item
            .text-shrinked
              p
                | Además tendrías que estar en alguna de las 
                span.bigger siete comisiones 
                | en las que se discuten los diferentes proyectos de Ley según las temáticas que aborden.
          .Row.story-item
            .text-shrinked
              p
                a.scroller(href="radiografia.html") Conoce aquí a los candidatos 
                | que se postulan para el Congreso 2018.
    .bg-emerald
      iframe(src="https://randommonkey.shinyapps.io/2018-03-01-descargaCongreso/", frameborder="0" width="100%")

block js
  script(src="vendors/sweet-scroll.min.js")
  script(src="vendors/vue.min.js")
  script(src="vendors/tabletop.min.js")
  script(src="vendors/scrollreveal.min.js")
  script(src="assets/js/app.js")
  script.
    const scroller = new SweetScroll({
      trigger: '.scroller',
      header: '#app'
    })
