extends ./partials/layout

block css
  link(rel="stylesheet", href="assets/css/index.css")
  link(rel="stylesheet", href="vendors/balloon.min.css")

block main
  main
    .half-height.bg-emerald.Column.VCenter.HCenter
      .container-section
        h1.home-title.font-family--changa.text-color--white.text-align--center No bote el voto
        p.home-description.font-family--exo.text-color--white.text-align--center Conoce las propuestas de los candidatos al senado
        img.block(src="assets/media/voto.svg", alt="Ícono de votación" style="width: 50px;margin: 0 auto;")
    .full-height#app(:class="{ center: !loaded }")
      template(v-if="!loaded")
        p: i.fas.fa-spinner.fa-pulse.fa-3x
        span Cargando...
      template(v-if="loaded")
        .app-content
          .filters-box
            p Filtros
            //- app-filters
          .people-box
            input.font-family--exo(type="text" placeholder="Busca por nombre" v-model="search")
            .people-box-content
              template(v-if="master")
                people-list(:people="peopleFiltered" @detail="showDetail")
              template(v-else-if="!master")
                person-detail(@master="showAll" :person="person")
    .half-height.bg-orange.Column.VCenter.HCenter
      .container-section
        h1.section-ten-more-title.font-family--changa.text-color--white.text-align--center
          | Los 10
          span.font-family--bungee +
        pre.section-ten-more-description.text-color--white.text-align--center.font-family--exo.
          Quién lleva más tiempo en el congreso,
          quién es el más activo, quién es el más vago
        div.text-align--center: a.text-color--white.font-family--exo.anchor-ten-more(href="#") Quiero saber más
    section
      .container-section-story
        .story
          .Row
            .text-shrinked
              p El primer Congreso que se conformó en la historia de nuestro país se dio en 1811 en Villa de Leyva (Cundinamarca) y se llamó el Congreso de las Provincias Unidas de la Nueva Granada.
          .Row
            .text-shrinked
              p Dicho Congreso fue ratificado con la Constitución de Cundinamarca en 1812 que ratificó las dos Cámaras conformadas por 19 miembros (un congresista por cada 10.000 habitantes) por un período de dos años.
          .Row
            .text-shrinked
              p Actualmente, el Congreso está conformado por el Senado de la República y la Cámara de Representantes. Tiene 102 senadores y 166 representantes a la cámara que son elegidos por votación popular por un período de 4 años.
          .Row
            .text-shrinked
              p El Congreso actual ha tenido varios cambios estructurales. El último se dio en 1991 con la Asamblea Nacional Constituyente, que creó la constitución que tenemos hoy en día.
          .Row
            .text-shrinked
              p
                | En esta reforma se establece que habrá 102 senadores y que serán elegidos 
                span.highlight(data-balloon="Compiten en todo el territorio nacional por los votos" data-balloon-pos="up") en circunscripción nacional. 
                | Para la Cámara de Representantes, la elección queda sujeta a 
                span.highlight(data-balloon="Los representantes a la Cámara son elegidos por un departamento, y solo allí pueden votar por él. Se asignarán más curules a aquellos departamentos que tengan más población" data-balloon-pos="up" data-balloon-length="large") circunscripciones territoriales 
                | y 
                span.highlight(data-balloon="Garantizar la representación de determinados grupos étnicos, sociales y políticos. Se asignan dos curules a los indígenas, dos curules a las negritudes y una curul a los extranjeros" data-balloon-pos="up" data-balloon-length="large") especiales. 
                | Habrá dos representantes por cada circunscripción territorial y uno adicional por cada 365.000 habitantes. A la fecha son 166.
          .Row
            .text-shrinked
              p Los primeros congresistas de 1812 no recibían sueldos o gratificaciones, pues esto era visto como un signo de corrupción. En la actualidad, un congresista colombiano gana 29.8 millones de pesos al mes, 37 veces el salario mínimo.
          .Row
            .text-shrinked
              p El Congreso tiene 3 misiones: reformar la Constitución, ejercer el poder legislativo, y vigilar y monitorear a la rama ejecutiva.
          .Row
            .text-shrinked
              p El congreso se reúne en dos en sesiones ordinarias, durante dos períodos por año: del 20 de julio al 16 de diciembre y del 16 de marzo al 20 de junio.
          .Row
            .text-shrinked
              p En estas discusiones promulgan tres tipos de leyes: leyes marco, que regulan las actividades específicas del Estado; leyes estatutarias, que desarrollan la constitución y garantizan los derechos fundamentales, y leyes orgánicas, que regulan a las entidades del Estado.
          .Row
            .text-shrinked
              p El Congreso se reúne en siete comisiones diferentes, donde se discuten los proyectos de Ley y se vota su aprobación o no, y las plenarias, donde se votan los proyectos de Ley que han sido aprobados en las comisiones.
          .Row
            .text-shrinked
              p Conoce aquí a los candidatos que se postulan para el Congreso 2018.

block js
  script(src="vendors/vue.min.js")
  script(src="vendors/tabletop.min.js")
  script(src="assets/js/app.js")
