extends ./partials/layout

block title
  title Los diez más - Elecciones Congreso 2018 | Especiales Datasketch

block css
  link(rel="stylesheet", href="assets/css/post.css")

block header
  nav.bg-emerald
    .container-section.Row.SpaceBetween.VCenter
      a.font-family--exo(href="index.html") Inicio
      a(href="http://datasketch.co/" target="_blank", rel="noopener noreferrer"): img(src="assets/media/logo.png", alt="")

block main
  main