extends ./partials/layout

block title
  title Los diez más - Elecciones Congreso 2018 | Especiales Datasketch

block css
  link(rel="stylesheet", href="assets/css/post.css")
  link(rel="stylesheet", href="vendors/vis.min.css")

block main
  main
    .container-section-post
      h1.font-family--exo.post-title Metodología
      div.font-family--exo.font-weight-light.post-body
        


block js
  script(src="vendors/tabletop.min.js")
  script(src="vendors/vis.min.js")
  script(src="vendors/vue.min.js")
  script(src="assets/js/whois.js")
