extends ./partials/layout

block title
  title Radiografía - Elecciones Congreso 2018 | Especiales Datasketch

block css
  link(rel="stylesheet", href="assets/css/post.css")
  link(rel="stylesheet", href="vendors/vis.min.css")

block main
  main
    .container-section-post
      h1.font-family--exo.post-title Radiografía
      div.font-family--exo.font-weight-light.post-body
        p Encontramos ciertos datos curiosos sobre las elecciones al congreso 2018. Esta es su radiografía
        p.post-subtitle Total de Candidatos al Congreso 2018
        p Este año se presentan al Congreso 2735 candidatos, en total 1794  van a Cámara y 853 van a Senado. Al final, solo tendrán curules 268 candidatos.
        iframe(src="static/1.html", frameborder="0" width="100%" height="450px")
        p.post-subtitle Candidatos por género y partido
        p Cada partido político debería tener igual número de candidatos por sexo, esta es la cantidad de candidatos hombres y mujeres actuales por partido.
        iframe(src="static/5.html", frameborder="0" width="100%" height="450px")
        p.post-subtitle Edad: Candidatos a la Cámara y al Senado
        p Para ser parte del Congreso debes tener más de 25 años para postularte a la Cámara y 30 años para el Senado, esta es la cantidad de personas mayores y personas jóvenes que son candidatos actualmente.
        iframe(src="static/edad.html", frameborder="0" width="100%" height="450px")
        p.post-subtitle Top 5 de nombres más populares
        p Encontramos ciertas curiosidades sobre los candidatos al Congreso, estos son los nombres más comunes en las listas.
        iframe(src="static/nombres.html", frameborder="0" height="450px" width="100%")
        p.post-subtitle Partidos con antecedentes en la Procuraduría
        p Estos son los partidos políticos que tienen candidatos con antecedentes en la procuraduría.
        iframe(src="static/procuraduria.html", frameborder="0" height="450px" width="100%")
        p.post-subtitle Partidos con antecedentes en la Policía
        p Estos son los partidos políticos que tienen candidatos con antecedentes en la policía.
        iframe(src="static/policia.html", frameborder="0" height="450px" width="100%")
        p.post-subtitle Partidos con antecedentes en la Contraloría
        p Estos son los partidos políticos que tienen candidatos con antecedentes en la contaduría.
        iframe(src="static/contraloria.html", frameborder="0" height="450px" width="100%")
        p.post-subtitle Número de Contratos Secop
        p El SECOP permite conocer la actividad contractual que se ejecuta con recursos públicos, el candidato con mayor número de contratos acumula la suma de 307.
        iframe(src="static/secop.html", frameborder="0" height="450px" width="100%")
        p.post-subtitle Número de contratos con el estado de aspirantes al Congreso
        p De los siguientes partidos políticos, se encuentra reportados al menos 5 contratos en el SECOP.
        iframe(src="static/secop-partido.html", frameborder="0" height="450px" width="100%")
        p.post-subtitle Multas SIMIT
        p
          | Varios candidatos al Congreso cuentan con multas de tránsito en el SIMIT, la cifra más baja es de 
          strong $16,437.00
          |  y la más alta es de 
          strong $115,748,074.00.
        iframe(src="static/simit.html", frameborder="0" height="450px" width="100%")
        #disqus_thread

block js
  script(src="vendors/tabletop.min.js")
  script(src="vendors/vis.min.js")
  script(src="vendors/vue.min.js")
  script(src="assets/js/whois.js")
  script(src="assets/js/disqus.js")
