.video-section,
.quotes {
	width: 100%;
	@media only screen and (min-width: 768px) {
		width: 50%
	}
}
.video-section iframe {
	height: 100%;
	width: 100%;
}
.quiz-info {
	flex-basis: 100%;
	@media only screen and (min-width: 768px) {
		flex-basis: 30%;
		padding: 2vw;
	}
}
.quiz-frame {
	flex-basis: 100%;
	iframe {
		height: 100%;
		width: 100%;
	}
	@media only screen and (min-width: 768px) {
		flex-basis: 70%;
	}
}
.story {
	flex-basis: 100%;
	text-align: center;
	@media only screen and (min-width: 768px) {
		flex-basis: 33.33%;
	}
	h1 {
		text-transform: uppercase;
	}
	a {
		position: relative;
		text-decoration: none;
		&:before {
			background-color: #ffffff;
			bottom: 0;
			content: '';
			height: 1px;
			left: 0;
			position: absolute;
			transform: scaleX(0);
			transition: all 250ms linear;
			width: 100%;
		}
		&:hover:before {
			transform: scaleX(1);
		}
	}
}