html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
header {
  background: no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
}
.topnav {
  position: fixed !important;
  transition: all 0.25s linear;
}
.header-content {
  background: rgba(0,0,0,0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding-bottom: 20px;
}
.header-content .header-title {
  color: #ffffff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  text-shadow: 2px -1px 0 rgba(0,0,0,0.8);
}
.header-content .header-description {
  color: #ffffff;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  padding: 0 20px;
  /*text-shadow: 2px -1px 0 rgba(0,0,0,0.8);*/
  margin: 2px 0;
}
.topnav {
  background: transparent;
}
.topnav.affix {
  background: transparent;
  /*border-bottom: 1px solid rgba(200,200,200,0.8);*/
}
.main-post {
  padding: 0;
}
.topnav .special-wrapper img {
  filter: brightness(0) invert(1) drop-shadow(1px -1px rgba(20,20,20,0.7));
  -webkit-filter: brightness(0) invert(1) drop-shadow(1px -1px rgba(20,20,20,0.7));
  -ms-filter: brightness(0) invert(1) drop-shadow(1px -1px rgba(20,20,20,0.7));
  -o-filter: brightness(0) invert(1) drop-shadow(1px -1px rgba(20,20,20,0.7));
}
.parallax { 
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sign-banner {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sign-banner img {
  max-width: 100%;
}
.sign-banner .externals {
  align-items: center;
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #0f2f3f;
}
.sign-banner .externals a {
  background: #cdff00;;
  border-width: 3px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 35px 7px;
}
.sign-banner .externals a:hover {
  text-decoration: none;
}
.sign-banner .logos {
  align-items: center;
  background-color: #f4f4f4;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sign-banner .media-image { 
  min-width: 0;
}

.sign-banner .media-image img {
  width: 150px;
  max-width: 100%;
}

.sign-banner .logos img {
  max-width: 100%;
}
.home-section {
  height: 105vh;
  position: relative;
}
.home-section-content {
  background: rgba(0,0,0,0.4);
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.home-section-content h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 20px 0;
}
.home-section-content h3 {
  font-family: 'Karla', sans-serif;
  color: #ffffff;
  text-transform: lowercase;
  text-shadow: 2px -1px 0 rgba(0,0,0,0.8);
}
.wow {
  visibility: hidden;
}
.read-more {
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 22px;
}
video {
  height: 100%;
  left: 0;
  position: absolute;
  object-fit: cover;
  top: 0;
  width: 100%;
  z-index: -1;
}
.data-image {
  background-color: #3d83d1; 
}
.data-box {
  background: none !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.data-box h1 {
  width: 100%;
}
.data-box iframe {
  width: 100%;
  height: 400px;
}
@media screen and (min-width: 768px) {
  .home-section-content h1 { font-size: 32px; }
  .home-section-content h3 { font-size: 38px; }
  .header-content .header-title {
    font-size: 32px;
  }
  .header-content .header-description {
    font-size: 16px;
    padding: 0 80px;
  }
  .data-box h1 {
    width: 45%;
  }
  .data-box iframe {
    width: 45%;
    height: 400px;
  }
}
@media screen and (min-width: 992px) {
  .home-section-content h1 { font-size: 60px; }
  .home-section-content h3 { font-size: 35px; }
  .header-content .header-title {
    font-size: 60px;
    padding: 0 5px;
  }
  .header-content .header-description{
    font-size: 20px;
    padding: 0 100px;
  }
  .main-post { font-size: 60px; }
}
@media screen and (min-width: 1200px) {
  .home-section-content h1 { font-size: 64px; }
  .header-content .header-title {
    font-size: 64px;
    padding: 0 5px;
  }
  .header-content .header-description {
    font-size: 22px;
    padding: 0 200px;
  }
  .main-post {
    font-size: 64px;
    padding: 0 200px;
  }
}
@media screen and (max-width: 768px) {
  .video-container {
    background: url(../video/mapa.gif) no-repeat center center fixed !important;
    background-size: cover !important;
  }
}
/* Calendar */
.tui-full-calendar-popup-section {
  height: auto !important;
}