.menu.background(style='background-image: url(assets/media/bg_menu.jpg);')
	.menu-anchors.flex.flex--column.flex--align-vertical
		div: a.text-size-x-large.text-white(href='index.html') Inicio
		div: a.text-size-x-large.text-white(href='colombia-es-paisaje-e-historia-en-un-plato.html') Colombia es paisaje e historia en un plato
		div: a.text-size-x-large.text-white(href='recetas-prohibidas.html') Recetas prohibidas
		div: a.text-size-x-large.text-white(href='recetas-regiones.html') Recetas por regiones
		div: a.text-size-x-large.text-white(href='post.html') Aplicación
		div: a.text-size-x-large.text-white(href='glosario.html') Glosario
		div: a.text-size-x-large.text-white(href='metodologia.html') Metodología
		div: a.text-size-x-large.text-white(href='https://www.datasketch.co/es/team' rel="noopener noreferrer" target="_blank") Nuestro equipo