.menu.background(style='background-image: url(assets/media/bg_menu.jpg);')
	.menu-anchors.flex.flex--column.flex--align-vertical
		div: a.text-size-x-large.text-white(href='index.html') Inicio
		div: a.text-size-x-large.text-white(href='post.html') Nota principal
		div: a.text-size-x-large.text-white(href='post.html') Aplicación
		div: a.text-size-x-large.text-white(href='post.html') Recetas prohibidas
		div: a.text-size-x-large.text-white(href='recetas-regiones.html') Recetas por regiones
		div: a.text-size-x-large.text-white(href='post.html') Metodología
		div: a.text-size-x-large.text-white(href='post.html') Nuestro equipo