header.nav.nav-post
  nav.container-large.flex.flex--space-between.flex--align
    button.hamburger.hamburger--slider(type='button')
      span.hamburger-box
        span.hamburger-inner
    a.logo(href='https://www.datasketch.co/es/', target='_blank', rel='noopener noreferrer')
      img(src='assets/media/logo.png', alt='Logo Datasketch')
  .menu.background(style='background-image: url(assets/media/bg_menu.jpg);')
    .menu-anchors.flex.flex--column.flex--align-vertical
      div: a.text-size-x-large.text-white(href='/') Inicio
      div: a.text-size-x-large.text-white(href='#') Nota principal
      div: a.text-size-x-large.text-white(href='#') Aplicación
      div: a.text-size-x-large.text-white(href='#') Recetas prohibidas
      div: a.text-size-x-large.text-white(href='#') Metodología
      div: a.text-size-x-large.text-white(href='#') Nuestro equipo