header.nav.nav-post
  nav.container-large.flex.flex--space-between.flex--align
    button.hamburger.hamburger--slider(type='button')
      span.hamburger-box
        span.hamburger-inner
    a.logo(href='https://www.datasketch.co/es/', target='_blank', rel='noopener noreferrer')
      img(src='assets/media/logo.png', alt='Logo Datasketch')
  include ./menu
  block overlay