extends ./gray-header

block overlay
	.recipe-overlay#recipe-1
		.container-small
			span.close-overlay x
			h1.overlay-title.slab.slab-semibold Las mil caras del ajiaco
			.overlay-intro.josefin-light
				.overlay-intro-text
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ratione harum excepturi sequi nihil velit dolores quas nobis reiciendis quasi, quaerat rem, consequatur odit amet est temporibus soluta eveniet! Nemo porro dignissimos, beatae quis commodi odio dolor mollitia iste at nulla. Earum veritatis illo et, repellat ipsa laborum modi nemo ullam sapiente maiores aliquid quod harum, in expedita. Repellat officiis unde, ducimus facilis eligendi, provident dolor ipsa recusandae suscipit a nesciunt blanditiis reiciendis quia consectetur quos magni tempore, placeat expedita! Atque molestiae, maiores esse quae quibusdam laudantium, officiis fugiat aperiam tempore reprehenderit cumque. Assumenda magnam perferendis ipsa tempore asperiores at?
				.overlay-intro-map
			blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, aperiam.
			.josefin-light
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea illum laboriosam natus, molestiae doloribus delectus dicta repudiandae tempore iusto recusandae, facilis maxime, asperiores porro veritatis officiis error quod. Similique, tempore unde saepe at. Soluta rem, explicabo earum sit tempore et inventore molestias quas suscipit. Aperiam, accusantium amet dignissimos nisi, animi officia eius itaque maxime commodi laborum. Cum ullam quibusdam ratione consequatur possimus nesciunt! Illum voluptates nobis hic, minus culpa debitis?
	.recipe-overlay#recipe-2
		.container-small
			span.close-overlay x
			h1.overlay-title.slab.slab-semibold De la tortilla a la arepa
			.overlay-intro.josefin-light
				.overlay-intro-text
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ratione harum excepturi sequi nihil velit dolores quas nobis reiciendis quasi, quaerat rem, consequatur odit amet est temporibus soluta eveniet! Nemo porro dignissimos, beatae quis commodi odio dolor mollitia iste at nulla. Earum veritatis illo et, repellat ipsa laborum modi nemo ullam sapiente maiores aliquid quod harum, in expedita. Repellat officiis unde, ducimus facilis eligendi, provident dolor ipsa recusandae suscipit a nesciunt blanditiis reiciendis quia consectetur quos magni tempore, placeat expedita! Atque molestiae, maiores esse quae quibusdam laudantium, officiis fugiat aperiam tempore reprehenderit cumque. Assumenda magnam perferendis ipsa tempore asperiores at?
				.overlay-intro-map
			blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, aperiam.
			.josefin-light
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea illum laboriosam natus, molestiae doloribus delectus dicta repudiandae tempore iusto recusandae, facilis maxime, asperiores porro veritatis officiis error quod. Similique, tempore unde saepe at. Soluta rem, explicabo earum sit tempore et inventore molestias quas suscipit. Aperiam, accusantium amet dignissimos nisi, animi officia eius itaque maxime commodi laborum. Cum ullam quibusdam ratione consequatur possimus nesciunt! Illum voluptates nobis hic, minus culpa debitis?
	.recipe-overlay#recipe-3
		.container-small
			span.close-overlay x
			h1.overlay-title.slab.slab-semibold La bandeja paisa: más mercadotecnia que tradición
			.overlay-intro.josefin-light
				.overlay-intro-text
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ratione harum excepturi sequi nihil velit dolores quas nobis reiciendis quasi, quaerat rem, consequatur odit amet est temporibus soluta eveniet! Nemo porro dignissimos, beatae quis commodi odio dolor mollitia iste at nulla. Earum veritatis illo et, repellat ipsa laborum modi nemo ullam sapiente maiores aliquid quod harum, in expedita. Repellat officiis unde, ducimus facilis eligendi, provident dolor ipsa recusandae suscipit a nesciunt blanditiis reiciendis quia consectetur quos magni tempore, placeat expedita! Atque molestiae, maiores esse quae quibusdam laudantium, officiis fugiat aperiam tempore reprehenderit cumque. Assumenda magnam perferendis ipsa tempore asperiores at?
				.overlay-intro-map
			blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, aperiam.
			.josefin-light
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea illum laboriosam natus, molestiae doloribus delectus dicta repudiandae tempore iusto recusandae, facilis maxime, asperiores porro veritatis officiis error quod. Similique, tempore unde saepe at. Soluta rem, explicabo earum sit tempore et inventore molestias quas suscipit. Aperiam, accusantium amet dignissimos nisi, animi officia eius itaque maxime commodi laborum. Cum ullam quibusdam ratione consequatur possimus nesciunt! Illum voluptates nobis hic, minus culpa debitis?
	.recipe-overlay#recipe-4
		.container-small
			span.close-overlay x
			h1.overlay-title.slab.slab-semibold Papas al rescate
			.overlay-intro.josefin-light
				.overlay-intro-text
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ratione harum excepturi sequi nihil velit dolores quas nobis reiciendis quasi, quaerat rem, consequatur odit amet est temporibus soluta eveniet! Nemo porro dignissimos, beatae quis commodi odio dolor mollitia iste at nulla. Earum veritatis illo et, repellat ipsa laborum modi nemo ullam sapiente maiores aliquid quod harum, in expedita. Repellat officiis unde, ducimus facilis eligendi, provident dolor ipsa recusandae suscipit a nesciunt blanditiis reiciendis quia consectetur quos magni tempore, placeat expedita! Atque molestiae, maiores esse quae quibusdam laudantium, officiis fugiat aperiam tempore reprehenderit cumque. Assumenda magnam perferendis ipsa tempore asperiores at?
				.overlay-intro-map
			blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, aperiam.
			.josefin-light
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea illum laboriosam natus, molestiae doloribus delectus dicta repudiandae tempore iusto recusandae, facilis maxime, asperiores porro veritatis officiis error quod. Similique, tempore unde saepe at. Soluta rem, explicabo earum sit tempore et inventore molestias quas suscipit. Aperiam, accusantium amet dignissimos nisi, animi officia eius itaque maxime commodi laborum. Cum ullam quibusdam ratione consequatur possimus nesciunt! Illum voluptates nobis hic, minus culpa debitis?