extends ./gray-header

block overlay
	.recipe-overlay#recipe-1
		.container-small
			span.close-overlay x
			h1.overlay-title.slab.slab-semibold Las mil caras del ajiaco
			.overlay-intro.josefin-light
				.overlay-intro-text
					p ¿Cómo es el ajiaco original? Hay múltiples versiones circulando: que si lleva zanahoria, que si lleva arracacha, que si son dos o tres las papas…
					p Por eso, puede sorprender saber que ajiaco es una palabra de origen taíno y que en su sentido original es simplemente sinónimo de sancocho, estofado, olla podrida o locro. También resultará curioso saber que hay ajiacos en Cuba y en Chile y que tienen muy poco que ver con nuestra sopa. Por eso, la pregunta correcta es cómo la palabra ajiaco dejó de ser un nombre genérico para ser casi exclusivamente un plato típico de designar casi exclusivamente a la variante de Bogotá.
					p Entre las primeras crónicas de la Conquista se mencionan ajiacos pero en estos no se usan papas sino otros tubérculos además de plátanos, granos y carnes secas.
				.overlay-intro-map
			blockquote Ajiaco es una palabra de origen taíno y que en su sentido original es simplemente sinónimo de sancocho, estofado, olla podrida
			.josefin-light
				p Ejemplo de ello es la minuta de Joaquín de Finestrad en 1783, en la que cuenta que "los muiscas parecen frailes” por alimentarse de un “insustancial ajiaco” y cómo los blancos quienes tenían riquezas acostumbran mezclar esta sopa con alguna carne.
				p Durante el siglo XIX en Bogotá el ajiaco se consolidó como plato que se ofrecía en ocasiones muy especiales como el Corpus Christi o las cenas navideñas.
				p Sin embargo, el primer registro documental del ajiaco como el plato que conocemos hoy en día, incluídos los acompañamientos, apenas va a cumplir ochenta años. La receta aparece en Minuta del buen comer, un libro de 1937, escrito por Fenita Restrepo de Hollmann.
				p Determinar cómo se llegó a la versión hoy establecida es difícil. ¿Por qué, habiendo tantas papas, solo se usaron tres? ¿Por qué se comenzó a usar, y exclusivamente, pollo? ¿Cómo llegaron las alcaparras? ¿Y las guascas? Esta versión de ajiaco es lo único que les da su lugar a las guascas en los mercados. El gastrónomo Lácydes Moreno sostenía que esta presentación pudo haber tenido su origen en el muy francés potaje Parmentier. Pero no hay forma de confirmarlo, sólo de disfrutarlo.
	.recipe-overlay#recipe-2
		.container-small
			span.close-overlay x
			h1.overlay-title.slab.slab-semibold De la tortilla a la arepa: así se hace el plato favorito del desayuno colombiano
			.overlay-intro.josefin-light
				.overlay-intro-text
					p La arepa blanca antioqueña es deliciosa. Asada con la leña de los bosques de Santa Elena, con el grado justo de sal, el ahumado como su único condimento y el contraste entre el afrecho y la masa suave. Es una lástima que fuera de Antioquia la arepa blanca sea apenas una imitación insípida para acompañar el pollo de asadero.
					p En cambio la historia de la masificación de la “arepa antioqueña” es fascinante, un relato de adaptación tecnológica liderada por una institución del gobierno desde Bogotá en los años sesenta: el Instituto de Investigaciones Tecnológicas.
				.overlay-intro-map
			blockquote Todavía a mediados de los ochenta, cuando el Instituto estaba siendo liquidado, las arepas industriales se fabricaban con las imitaciones de las máquinas mexicanas.
			.josefin-light
				p En 1969, esta entidad importó desde México una máquina semiautomática para hacer tortillas. Querían adaptar su mecanismo para que en vez de tortillas salieran arepas. En 1973 decidieron que lo más práctico era trabajar con la “antioqueña” pues es la que podría dar un mejor resultado en la máquina mexicana. Quedaron así descartadas, de momento, las casi cuarenta variedades que hay en Colombia.
				p En 1978 se hicieron los primeros estudios de mercado, presentando las arepas en bolsas de celofán, enriquecidas con soya por recomendación del ICBF, como una solución a los hogares urbanos en los que cada vez quedaba menos tiempo para cocina, moler y amasar el maíz. Todavía a mediados de los ochenta, cuando el Instituto estaba siendo liquidado, las arepas industriales se fabricaban con las imitaciones de las máquinas mexicanas.
				p En 2007 el Icontec emitió la Norma Técnica 5372 que establece las características que debe tener la arepa para ser considerada como tal: “producto para consumo obtenido a partir de la masa de maíz blanca, amarilla o mezcla de ambas previamente cocida, mezclada con otros ingredientes tales como sal, queso, entre otros, y que debe ser almacenada en refrigeración de 4 °C a 10 °C”. Recuérdelo bien la próxima vez que saque una arepa de su nevera para hacérsela rápidamente al desayuno.
	.recipe-overlay#recipe-3
		.container-small
			span.close-overlay x
			h1.overlay-title.slab.slab-semibold La bandeja paisa: más mercadotecnia que tradición
			.overlay-intro.josefin-light
				.overlay-intro-text
					p La bandeja paisa no fue jamás plato de mesas antioqueñas, pueblerinas o montañeras. Los paisas de antaño la habrían encontrado exagerada e impagable, pues alimentar a familias con al menos 16 descendientes era cuestión de ahorro (de comida y de platos a lavar).
					p Aunque se desconoce el origen exacto del platillo, en lo que los historiadores y antropólogos están de acuerdo es en que fue el resultado de un experimento de mercadotecnia que no tiene más de medio siglo de vida.
					p El plato en sí mismo es “una exageración” de 14 elementos culinarios colombianos: productos todos excelentes a nivel individual. Se pensó para saciar barrigas mostrando lo mejor de la región. Tiene cinco proteínas animales y suele desbordarse en la bandeja que se sirve.
				.overlay-intro-map
			blockquote Se inventó en Bogotá por accidente en un restaurante en el centro llamado El Zaguán de las Aguas
			.josefin-light
				p Para el antropólogo Julián Estrada, fue la institución Tour Antioquia la que se ingenió el platillo y lo comenzó a ofrecer en los paraderos de la Pintada, en San José de Antioquia. Se basaron en un almuerzo típico de la región: un plato de fríjol en tinta con un “seco” que podía constar de arroz y chicharrón. Si la familia tenía dinero, podía ponerle a la suma cinco ingredientes, pero nunca más de eso. La reinvención dio como resultado el platillo que se come hoy en día. 
				p Para Diego Germán Arango, la bandeja paisa se inventó en Bogotá por accidente en un restaurante en el centro llamado El Zaguán de las Aguas. Allí se ofreció un día un bufet para una empresa con comida típica antioqueña. Los comensales se sirvieron en grandes platos redondos una gran cantidad de ingredientes y gustó tanto que el plato fue llevado a la carta. Para que no se viera grotesco, se empezó a servir en bandeja.
				p La aceptación fue tal que el plato de una u otra manera se extendió rápidamente por el país hasta que llegó a ser considerado uno de los principales de la gastronomía colombiana a nivel nacional e internacional.
	.recipe-overlay#recipe-4
		.container-small
			span.close-overlay x
			h1.overlay-title.slab.slab-semibold Papas al rescate
			.overlay-intro.josefin-light
				.overlay-intro-text
					p La dieta andina en América del Sur está compuesta, principalmente, por papas. Desde Colombia hasta Argentina se pueden encontrar recetas que incluyen este tubérculo; su costo económico, su valor nutricional y su fácil producción hacen que esté presente en la gastronomía de todo el continente.
					p En Colombia, hay alrededor de 120 clases de papas que se diferencian, entre otros, por sus colores. Son blancas, amarillas, rojas, púrpuras y fucsias, pero casi nadie las conoce, sabe sus nombres, o las ha probado. Nos hemos conformado con la criolla, la sabanera, la pastusa y la R12 porque  se encuentran exhibidas en supermercados.
					p La papa nativa tiene sus orígenes en tiempos precolombinos, cuando los indígenas recolectores ya sembraban estos tubérculos que se pigmentan con distintos colores por los minerales de los suelos. Sin embargo, diferentes causas hicieron que su comercialización disminuyera.
				.overlay-intro-map
			blockquote En Colombia, hay alrededor de 120 clases de papas que se diferencian, entre otros, por sus colores
			.josefin-light
				p Hoy las estamos volviendo a encontrar gracias a un campesino y cultivador, Pedro Briceño, que empezó en Ventaquemada, Boyacá, a recuperar este saber ancestral. Recolectaba semillas y atraía familias que quisieran poner su atención en la siembra ancestral y en el desarrollo de estrategias para la comercialización de papas diferentes.
				p Uno de los caminos que escogieron fue a través de los restaurantes. 60 Nativas es uno de ellos. Su dueño, Óscar González, decidió innovar mezclando en sus recetas papas coloridas. Para él no eran del todo extrañas, pues su papá le contaba historias de papas multicolores que nunca creyó, hasta que las vio con sus propios ojos.
				p Algunas de las papas arcoiris, y que suelen tener su patente en Boyacá, son la Tocana (Boyacá), de color verde; Pachanegra (Boyacá), púrpura; Genesano (Cundinamarca), ; Criolla Manzana (Boyacá), amarilla; Andina Ventaquemada (Boyacá), vetas moradas; Sangre de Toro (Nariño), roja; y Borrega crema (Nariño), blanca, entre otras.
				p Ahora cuando vayas a comer en un restaurante, pídele al chef papas multicolores para acompañar tus platos y ayuda a propagar lo nuestro.