extends ./blocks/head

block title
	title Nuestro equipo | Especiales Datasketch

block meta
	meta(name='description', content='Somos un equipo multidisciplinario que está conformado por estadísticos, ingenieros, matemáticos, periodistas, antropólogos y politólogos.')
	meta(property='og:title', content='Conoce a nuestro equipo')
	meta(property='og:type', content='article')
	meta(property='og:url', content='http://especiales.datasketch.co/cocina-colombiana/equipo.html')
	meta(property='og:image', content='https://www.datasketch.co/images/logoseo.png')
	meta(property="og:description" content="Somos un equipo multidisciplinario que está conformado por estadísticos, ingenieros, matemáticos, periodistas, antropólogos y politólogos.")
	meta(property="og:locale" content="es_CO")

block css
	link(rel="stylesheet", href="assets/css/post.css")

block header
	include ./blocks/post-header.pug

block main
	.container-x-small
		h1.post-title.slab.slab-semibold Nuestro equipo
	.container-small
		.post-content.josefin-light.text-size-large
			.team-container
				.team-member
					img(src="https://res.cloudinary.com/randommonkey/image/upload/v1513706348/equipo/woman.png", alt="Ana Hernández")
					.team-member-info
						span Ana Hernández
				.team-member
					img(src="https://res.cloudinary.com/randommonkey/image/upload/g_face/v1513706723/equipo/camila_achuri.png", alt="Camila Achuri")
					.team-member-info
						span Camila Achuri
				.team-member
					img(src="https://res.cloudinary.com/randommonkey/image/upload/g_face/v1513706347/equipo/arango.jpg", alt="David Arango")
					.team-member-info
						span David Arango
				.team-member
					img(src="https://res.cloudinary.com/randommonkey/image/upload/g_face/v1513706348/equipo/man.png", alt="David Daza")
					.team-member-info
						span David Daza
				.team-member
					img(src="https://res.cloudinary.com/randommonkey/image/upload/c_thumb,g_face,w_150/v1513708695/equipo/uva.jpg", alt="Eliana Vaca")
					.team-member-info
						span: a(href="http://uvavaca.com/" target="_blank" rel="noopener noreferrer") Eliana Vaca
				.team-member
					img(src="https://res.cloudinary.com/randommonkey/image/upload/g_face/v1513706352/equipo/jpmarindiaz.png", alt="Juan Pablo Marín")
					.team-member-info
						span Juan Pablo Marín
				.team-member
					img(src="https://res.cloudinary.com/randommonkey/image/upload/g_face/v1513706349/equipo/juliana_galvis.jpg", alt="Juliana Galvis")
					.team-member-info
						span Juliana Galvis
				.team-member
					img(src="https://res.cloudinary.com/randommonkey/image/upload/g_face/v1513706348/equipo/marisa.jpg", alt="Maria Isabel Magaña")
					.team-member-info
						span María Isabel Magaña
				.team-member
					img(src="https://res.cloudinary.com/randommonkey/image/upload/g_face/v1513711802/equipo/miguel_olaya.jpg", alt="Miguel Olaya")
					.team-member-info
						span Miguel Olaya
				.team-member
					img(src="https://res.cloudinary.com/randommonkey/image/upload/c_scale,w_150/v1513711891/equipo/veronica.jpg", alt="Verónica Toro")
					.team-member-info
						span Verónica Toro
				.team-member
					img(src="https://res.cloudinary.com/randommonkey/image/upload/c_thumb,g_face,h_150,w_150/v1513873322/equipo/wim.jpg", alt="Wim Van der ham")
					.team-member-info
						span Wim Van der ham
			#disqus_thread

block footer
	include ./blocks/footer

block js
	script(src="assets/js/post.js")
	script(src="assets/js/disqus.js")