extends ./blocks/head

block title
	title Glosario | Especiales Datasketch

block css
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="assets/css/post.css")

block header
	include ./blocks/post-header.pug

block main
	.container-x-small
		h1.post-title.slab.slab-light Glosario de El gran libro de la cocina colombiana.
		.josefin-light.text-size-large
			include ./blocks/glossary
			#disqus_thread

block footer
	include ./blocks/footer

block js
	script(src="assets/js/post.js")
	script(src="assets/js/disqus.js")