extends ./blocks/head

block title
	title Glosario | Especiales Datasketch

block css
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="assets/css/post.css")

block header
	include ./blocks/post-header.pug

block main
	.container-x-small
		h1.post-title.slab.slab-light Glosario de El gran libro de la cocina colombiana.
		.josefin-light.text-size-large
			h2.glossay-letter A
			p
				strong Arteza o Artesa: 
				| recipiente que se usa para amasar el pan.
			p
				strong Aliño: 
				| mezcla de especias y otros condimentos.
			p
				strong Almidón de achira: 
				| es el almidón que se extrae de la canna indica, una planta suramericana conocida también como sagú. Se usa principalmente para los bizcochos de achira, típicos del Huila.
			p
				strong Amero: 
				| hojas de la mazorca con las que se hacen los envueltos de mazorca.
			p
				strong Almirajo: 
				| es una fruta globosa de la familia del zapote, es típica de la región del pacífico.
			p
				strong Almizcle: 
				| sustancia de fuerte olor.
			p
				strong Azahar: 
				| flor del naranjo.
			h2.glossay-letter B
			p
				strong Babilla: 
				| caimán joven.
			p
				strong Batea: 
				| recipiente grande de madera, de forma circular u oblonga, y sin asas.
			p
				strong Bija: 
				| achiote.
			p
				strong Bijao: 
				| El nombre de la planta Calathea lutea cuyas hojas son usadas para hacer envueltos, tamales o hallacas.
			p
				strong Bizcocho: 
				| en Colombia el bizcocho es el nombre que se da a las colaciones y galletas saladas, como las achiras o los bizcochos de manteca. Aunque esta denominación aún se usa, es más común que entre las nuevas generaciones sirva para designar tortas.
			p
				strong Bizcochuelo: 
				| En Colombia se llamaba bizcochuelo a las masas dulces con las que se hacen las tortas.
			p
				strong Bofe: 
				| pulmón de las reses destinado a consumo.
			p
				strong Buche: 
				| bolsa membranosa que forma parte del sistema digestivo en algunos animales.
			p
				strong Bulbo: 
				| es toda planta que almacena su ciclo de vida completo en una estructura de almacenamiento subterránea.
			h2.glossay-letter C
			p
				strong Cachapa:
				|  Arepa elaborada con maíz jojoto.
			p
				strong Cachaza:
				|  Espuma del guarapo cuando empieza a cocerse, o espuma de una sopa o preparación. También se le llama así al aguardiente brasileño.
			p
				strong Calado:
				|  Galleta salada y seca, a veces enriquecida con mantequilla. En Argentina se lo conoce como galleta marinera o náutica y en inglés como sea biscuit.
			p
				strong Cananguchos:
				|  Fruto de la palma del canangucho.
			p
				strong Carambolo:
				|  Es una fruta exótica que cuando se corta tiene forma de estrella.
			p
				strong Carapacho:
				|  Cubierta o envoltura rígida, que protege el cuerpo de las tortugas y crustáceos.
			p
				strong Carne serrana:
				|  Es carne de res o cerdo conservada en salmuera de sal de nitro.
			p
				strong Catanga:
				|  Canasto.
			p
				strong Caguinga:
				|  Cuchara de palo.
			p
				strong Cedazo:
				|  Colador rígido hecho con crin de caballo o venas de hojas de palma.
			p
				strong Chachafruto:
				|  Fríjoles en su vaina.
			p
				strong Chambero:
				|  Camarón pequeño de marea.
			p
				strong Chaupiza:
				|  Es un pescado muy pequeño del río Guapi.
			p
				strong Chigua:
				|  Fruto de la palma de chigua.
			p
				strong Chillangua:
				|  Cilantro cimarrón.
			p
				strong Chimbilaco:
				|  Pescado ahumado.
			p
				strong Chontaduro:
				|  Fruto de la planta del chontaduro.
			p
				strong Chugua:
				|  El tubérculo de la planta ullucus tuberosus. Usado en platos como el cocido boyacense. Sus hojas también se consumen. No está relacionado con las papas.
			p
				strong Chulquín: 
				| El cogollo de la caña brava. Usado en la cocina caucana.
			p
				strong Clavetear:
				|  Acción de introducir clavos de olor en unos orificios.
			p
				strong Cilantro cimarrón:
				|  El eryngium foetidum es una hierba aromática usada en la cocina caucana y vallecaucana. Su aroma recuerda al cilantro común pero es más fuerte. Ver también chillangua.
			p
				strong Cogollo:
				|  Parte interior que es la más apretada, blanca y tierna de algunas plantas, como la lechuga y otras hortalizas.
			p
				strong Copoazú:
				|  Fruto originario de la amazonía y centro de suramérica.
			p
				strong Cremor tártato:
				|  Nombre común del bitartrato de potasio, un agente ácido usado con varios fines en la culinaria, especialmente para estabilizar las claras de los huevos al hacer merengue, ligar jaleas y prevenir la cristalización de los caramelos.
			p
				strong Cuy:
				|  Nombre de origen quechua del roedor cavia porcellus. Su carne es consumida tradicionalmente en las áreas de influencia del antiguo imperio inca. En el caso de Colombia, el departamento de Nariño.
			p
				strong Curuba:
				|  Fruto del passiflora tripartita, una planta enredadera pariente del maracuyá y la granadilla. De sabor predominantemente astringente, es usada en Colombia para hacer sorbetes y saborizar esponjados.
			h2.glossay-letter D
			p
				strong Dentón:
				|  Pez marino de hasta 1 m de longitud, color gris plateado con reflejos, cuerpo ovalado y comprimido, aletas espinosas, cabeza y escamas grandes, y algunos dientes salientes en forma de colmillo.
			p
				strong Dumplings:
				|  Masitas de harina y en ocasiones mantequilla que se cocinan en agua para sumergirlas en las sopas. En Colombia son típicas del archipiélago de San Andrés y Providencia.
			h2.glossay-letter F
			p
				strong Fariña:
				|  Harina granulosa de yuca brava (manihot esculenta).
			p
				strong Frijol tapajeño:
				|  Tipo de frijol oriundo de la región de Nariño.
			p
				strong Fruto del árbol del pan:
				|  originario del sudeste asiático, el fruto del artocarpus altilis llegó a las Antillas, donde su uso se popularizó en su cocina. El gran fruto verde contiene varias pepas grandes, carnosas. Es usado en el archipiélago de San Andrés y Providencia.
			h2.glossay-letter G
			p
				strong Gamitana:
				|  Nombre del colossoma macropomum, pescado de origen amazónico.
			p
				strong Gasapo:
				|  Camarón negro de río.
			p
				strong Grosella:
				|  Fruto pequeño y casi siempre rojo de un arbusto conocido como grosellero. Por extensión, cualquier pequeño fruto comestible de cualquier arbusto.
			p
				strong Guaca:
				|  Hierba aromática usada para el mute santandereano. Su sabor es picante e incluso puede adormecer la lengua. No debe confundirse con la guasca.
			p
				strong Guacharaca:
				|  El ave cuyo nombre científico es ortalis ruficauda. Propia de los bosques tropicales, hace un ruido vibrante, como el del instrumento al que le da su nombre, usado en el vallenato.
			p
				strong Guacuco:
				|  El molusco cuyo nombre científico es polymesoda arctata, propio de la costa caribe.
			p
				strong Guagua:
				|  El roedor de monte cuyo nombre científico es Cuniculus paca. Su carne es muy apreciada.
			p
				strong Guandú:
				|  La leguminosa cuyo nombre científico es cajanus cajan. Originaria de África, es usada en la cocina caribe.
			p
				strong Guasca:
				|  La galinsoga parviflora es una hierba silvestre propia de Suramérica. Su aroma particular es la razón por la que se usa principal o exclusivamente en Colombia para la elaboración del ajiaco santafereño.
			p
				strong Guatín:
				|  El guatín es el nombre que se le da a los roedores de monte, a las especies del género dasyprocta, mamíferos de mediano tamaño que habitan las selvas suramericanas. 
			p
				strong Guayabita:
				|  Variedad de pimienta. En otras partes se conoce como pimienta gorda y pimienta dulce.
			p
				strong Guineo:
				|  Banano o banana.
			h2.glossay-letter H
			p
				strong Harina de sagú:
				|  ver almidón de achira.
			p
				strong Hibia:
				|  El tubérculo conocido como oxalis tuberosa. Se usa en el cocido boyacense.
			h2.glossay-letter I
			p
				strong Iguazas:
				|  Pato salvaje.
			h2.glossay-letter L
			p
				strong Labios de res:
				|  Los músculos que rodean la boca de la res.
			p
				strong Lejía:
				|  La ceniza que queda del fogón, cal, óxido de calcio.
			p
				strong Lisa:
				|  Pescado de la familia de los mugílidos.
			h2.glossay-letter M
			p
				strong Majaja:
				|  Es un bocadillo típico de la costa pacífica de colombia. Se trata de una arepa de choclo con panela raspada.
			p
				strong Malanga:
				|  Raíz de la planta cuyo nombre científico es colocasia esculenta.
			p
				strong Mañoco:
				|  Harina granulosa de yuca, similar a la fariña.
			p
				strong Marmita:
				|  Olla gruesa de hierro.
			p
				strong Mejorana:
				|  Es una hierba cultivada como condimento.
			p
				strong Milpezo:
				|  Fruto de la palma de socoromo o milpezo.
			p
				strong Moriche:
				|  Variedad llanera de palma.
			p
				strong Muncillá:
				|  Camarón colorado de río.
			h2.glossay-letter N
			p
				strong Nacume:
				|  Palmito criollo.
			p
				strong Naidí:
				|  Fruto de la palma de naidí o açaí.
			h2.glossay-letter P
			p
				strong Pajarilla:
				|  El bazo de la res.
			p
				strong Pataló:
				|  El pescado cuyo nombre científico es ichthyoelephas longirostris. También se conoce como besudo, besote, getudo, hocicón y jetón. Es una especie en peligro de extinción.
			p
				strong Pateburro:
				|  Molusco de gran tamaño usado en la cocina del pacífico y caribe.
			p
				strong Piandé:
				|  Un tipo de lagarto. Los huevos de piandé, según El gran libro de la cocina colombiana, «son el manjar preferido de los indios “cholos”, quienes [les] atribuyen el hecho de no sudar y la falta de vello en el cuerpo».
			p
				strong Piangua:
				|  El molusco cuyo nombre científico es anadara tuberculosa. Tiene su hábitat en los manglares del Pacífico, donde crece entre el barro. Allí es recogida para su consumo.
			p
				strong Pirarucú:
				|  El pez cuyo nombre científico es arapaima gigas. Es un pez gigantesco de la Amazonia, el segundo más grande del mundo de agua dulce. Puede llegar a medir 3 metros. Se considera una especie vulnerable.
			h2.glossay-letter S
			p
				strong Salmuera:
				|  Salsa para aderezar ensaladas, que lleva como base vinagre y sal.
			p
				strong Sangará:
				|  Piangua grande.
			p
				strong Seje:
				|  La palma cuyo nombre científico es oenocarpus bataua.
			p
				strong Soasar:
				|  Medio asar o asar ligeramente.
			p
				strong Socoromo:
				|  Fruto de la palma de socoromo o milpezo.
			p
				strong Sultán:
				|  Camarón blanco grande de río.
			h2.glossay-letter T
			p
				strong Trillado:
				|  Descascarado o pelado en la cubierta del grano, eliminando eliminando por pulimento las cáscaras.
			p
				strong Torcaza:
				|  Tipo de paloma.
			p
				strong Toyo:
				|  Es un tiburón joven, muy apreciado por los guapireños.
			p
				strong Tulizio:
				|  Armadillo blanco grande.
			p
				strong Tungo:
				|  Envueltos de arroz de los Llanos Orientales.
			h2.glossay-letter U
			p
				strong Ulluco:
				|  Ver chugua.
			h2.glossay-letter V
			p
				strong Vitoria:
				|  Calabaza.
			#disqus_thread

block footer
	include ./blocks/footer

block js
	script(src="assets/js/post.js")
	script(src="assets/js/disqus.js")