extends ./blocks/head

block title
	title Glosario | Especiales Datasketch

block css
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="assets/css/post.css")

block meta
	meta(name='description', content='Estos son algunos significados de productos de la gastronomía colombiana.  ')
	meta(property='og:title', content='Glosario para entender las recetas colombianas')
	meta(property='og:type', content='article')
	meta(property='og:url', content='http://especiales.datasketch.co/cocina-colombiana/glosario.html')
	meta(property='og:image', content='http://especiales.datasketch.co/cocina-colombiana/assets/media/banner.jpg')
	meta(property="og:description" content="Estos son algunos significados de productos de la gastronomía colombiana.  ")
	meta(property="og:locale" content="es_CO")

block header
	include ./blocks/post-header.pug

block main
	.container-x-small
		h1.post-title.slab.slab-light Glosario de El gran libro de la cocina colombiana.
		.josefin-light.text-size-large
			include ./blocks/glossary
			p.no-results No hay coincidencias
			#disqus_thread

block footer
	include ./blocks/footer

block js
	script(src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.js")
	script(src="assets/js/post.js")
	script(src="assets/js/disqus.js")