extends ./blocks/head

block title
	title Cocina colombiana | Especiales Datasketch

block css
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="vendors/owl/assets/owl.carousel.min.css")
	link(rel="stylesheet", href="vendors/owl/assets/owl.theme.default.min.css")
	link(rel="stylesheet", href="assets/css/index.css")

block header
	include ./blocks/main-header.pug

block main
	section.full.background.parallax(style='background-image: url(assets/media/banner.jpg);')
	section.half.main-banner.background.flex.flex--align-vertical.flex--column(style='background-image: url(assets/media/borde.png);')
		.container-small
			p.text-size-x-large La cocina colombiana puede definirse en una palabra: diversidad. La multiplicidad de ingredientes y regiones han permitido que tengamos al menos 700 platos con más de 500 ingredientes. 
			p.text-size-x-large Pero el desconocimiento de la tradición está poniendo en peligro su permanencia. Así es como cocineros y chefs pretenden salvarla.
			.text-center: a(href="colombia-es-paisaje-e-historia-en-un-plato.html") Ver más
	section.half.flex.flex--wrap
		.video-section
			iframe(src="https://www.youtube.com/embed/4Tin7fHDAkI?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media")
		.quotes.flex.flex--column
			a(href="#")
				| Súmate al chat con los expertos cocineros de Colombia 
				span.fa.fa-external-link
			.flex.flex--column.quotes-container: .owl-carousel.owl-theme
				.quote
					.container-small.flex.flex--column.flex--align-vertical(style='height: 100%;')
						.quote-body.josefin-light Para mí, cocinar es conectarme con esa herencia que mi mamá me transmitió.
						.quote-author.josefin-italic.text-right Ana María Uribe
				.quote
					.container-small.flex.flex--column.flex--align-vertical(style='height: 100%;')
						.quote-body.josefin-light Las nuevas generaciones deberían conservar la cocina colombiana y experimentar nuevos sabores.
						.quote-author.josefin-italic.text-right Virginia Nieto
				.quote
					.container-small.flex.flex--column.flex--align-vertical(style='height: 100%;')
						.quote-body.josefin-light En mi casa casa todos los días comíamos frijoles y dos o tres veces a la semana, sancocho.
						.quote-author.josefin-italic.text-right Aura María Díaz
				.quote
					.container-small.flex.flex--column.flex--align-vertical(style='height: 100%;')
						.quote-body.josefin-light Para mí es esencial un asado con mazorcas colombiana a la parrilla.
						.quote-author.josefin-italic.text-right Luisa Andrade
	section.half-and-quarter.background.parallax.recipes.flex.flex--column.flex--align-vertical.flex--align-horizontal(style='background-image: url(assets/media/banner_recetas.jpg);')
		h1.recipes-title.slab.slab-bold Recetas
		h2.recipes-subtitle.josefin-bold Prohibidas
		a(href="recetas-prohibidas.html") Ver más
	section.half.background.app-section.flex.flex--align-vertical.flex--align-horizontal
		h1
			a(href='') App
			img(src="assets/media/aguacate.png", alt="Aguacate")
	section.full.background.flex.flex--wrap.parallax(style='background-image: url(assets/media/triada.jpg);')
		.text-white.story.self-center
			h1.text-size-xx-large Recetas por regiones
			a.text-white(href='recetas-regiones.html') Ver más
		.text-white.story.self-center
			h1.text-size-xx-large Glosario
			a.text-white(href='glosario.html') Ver más
		.text-white.story.self-center
			h1.text-size-xx-large Metodología
			a.text-white(href='metodologia.html') Ver más
	section.half-and-quarter.flex.flex--wrap
		.quiz-info.flex.flex--column.self-center.josefin-thin
			img.quiz-img(src="assets/media/quiz.png", alt="Quiz")
			p.quiz-description ¿Qué tan experto en cocina colombiana eres? Si has crecido comiendo ajiaco, bandeja paisa y arepa, de seguro este quiz será "papitas" para ti. Mide qué tanto sabes de la sazón colombiana. Haz scroll y atrévete a llenarlo.
		.quiz-frame
			script(type="text/javascript" src="//cdn.playbuzz.com/widget/feed.js")
			.pb_feed(data-embed-by="7759322d-853a-496d-b51e-cfea4a099851" data-item="ef41403b-d5d8-4a21-bfec-c90c53b2382e"  data-recommend="false" data-game-info="false" data-comments="false" data-shares="false")
block footer
	include ./blocks/footer

block js
	script(src="vendors/owl/owl.carousel.min.js")
	script(src="assets/js/index.js")