extends ./blocks/head

block title
	title Título de post | Especiales Datasketch

block css
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="assets/css/alt.css")
	link(rel="stylesheet", href="assets/css/post.css")

block header
	include ./blocks/gray-header.pug

block main
	.container-x-small
		h1.post-alt-title.slab.slab-light Recetas por región
		.josefin-light.text-size-large
			.recipes-container.flex.flex--column
				.recipe.flex.flex--align-horizontal
					.recipe-image
						img(src="assets/media/ajiaco.jpg", alt="Ajiaco")
					.recipe-content.flex.flex--column
						p.recipe-title.slab.slab-semibold Las mil caras del ajiaco
						p.recipe-description.josefin-thin Pollo, papas, mazorca...
						span.recipe-share
							a(href="#"): span.fa.fa-facebook
							a(href="#"): span.fa.fa-whatsapp
							a(href="#"): span.fa.fa-pinterest-p
							a(href="#"): span.fa.fa-twitter
				.recipe.flex.flex--align-horizontal
					.recipe-image
						img(src="assets/media/arepa.jpg", alt="Arepa")
					.recipe-content.flex.flex--column
						p.recipe-title.slab.slab-semibold De la tortilla a la arepa
						p.recipe-description.josefin-thin Pollo, papas, mazorca...
						span.recipe-share
							a(href="#"): span.fa.fa-facebook
							a(href="#"): span.fa.fa-whatsapp
							a(href="#"): span.fa.fa-pinterest-p
							a(href="#"): span.fa.fa-twitter
				.recipe.flex.flex--align-horizontal
					.recipe-image
						img(src="assets/media/bandeja_paisa.jpg", alt="Bandeja paisa")
					.recipe-content.flex.flex--column
						p.recipe-title.slab.slab-semibold La bandeja paisa: más mercadotecnia que tradición
						p.recipe-description.josefin-thin Pollo, papas, mazorca...
						span.recipe-share
							a(href="#"): span.fa.fa-facebook
							a(href="#"): span.fa.fa-whatsapp
							a(href="#"): span.fa.fa-pinterest-p
							a(href="#"): span.fa.fa-twitter
				.recipe.flex.flex--align-horizontal
					.recipe-image
						img(src="assets/media/papa.jpg", alt="Papa campesina")
					.recipe-content.flex.flex--column
						p.recipe-title.slab.slab-semibold Papas al rescate
						p.recipe-description.josefin-thin Pollo, papas, mazorca...
						span.recipe-share
							a(href="#"): span.fa.fa-facebook
							a(href="#"): span.fa.fa-whatsapp
							a(href="#"): span.fa.fa-pinterest-p
							a(href="#"): span.fa.fa-twitter
			#disqus_thread

block footer
	include ./blocks/footer

block js
	script(src="assets/js/post.js")
	script(src="assets/js/disqus.js")