extends ./blocks/head

block title
	title Página de prueba

block css
	link(rel="stylesheet", href="vendors/hamburgers.min.css")
	link(rel="stylesheet", href="assets/css/post.css")

block header
	include ./blocks/post-header.pug

block main
	.container-small
		h1.post-title Título de la nota
		.post-content.josefin-light.text-size-large
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam facere voluptates eius laudantium, inventore cum est, ea. Nam impedit eius delectus quibusdam, assumenda amet aliquam saepe suscipit at quaerat perferendis culpa quia odio doloremque, ipsum vel quas, voluptate ea, debitis quisquam maiores molestiae! Qui ut, accusantium. Perferendis iusto repellat quo nobis, quia, laboriosam commodi accusamus? Consectetur veniam eius autem quam similique ea quaerat necessitatibus, soluta excepturi, sapiente quasi cum eum!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A modi nihil accusamus, repellat, suscipit minus distinctio perferendis veritatis eaque quae expedita debitis. Repudiandae explicabo asperiores temporibus molestiae, quasi odit dicta vero corrupti architecto maiores nam, animi consequuntur sunt qui nulla, vitae optio! Nesciunt quas est voluptatibus incidunt magni expedita eos omnis pariatur, architecto cum dolorum! Atque, alias suscipit temporibus sint eaque voluptatibus dolore maxime, nulla tempore, laborum vel ea recusandae.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo commodi odit suscipit dolorum aspernatur aliquid alias amet, nesciunt vero ad voluptas sit rem ullam beatae perferendis, minus? Recusandae necessitatibus omnis aliquam cumque dolor harum, unde repudiandae eos soluta consequatur quod consequuntur quas nisi expedita reiciendis atque inventore fuga ratione temporibus magni vero repellendus eius. Enim accusantium delectus consequuntur laboriosam esse, ducimus ratione nesciunt. Eos dolor rerum ullam fugit nemo impedit?
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus tempora doloremque atque ea odio facere minima quaerat laboriosam quam quae, nulla nemo assumenda placeat error delectus ratione, odit reprehenderit nihil consectetur ab, quia fuga eaque voluptatibus accusantium? Harum delectus consequuntur at, molestias asperiores optio voluptate, aliquid cupiditate culpa repellat dolorem itaque, quibusdam nisi, est ipsa ullam ab deleniti sed fugiat? Nostrum ex fugiat saepe modi, dolores reiciendis nulla ducimus iure.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nostrum eligendi tenetur saepe a enim architecto consectetur voluptates quia, itaque officiis necessitatibus, aliquam repellendus delectus doloribus iste nisi deleniti temporibus molestiae dolorem, id alias aperiam, debitis dolorum quasi? In ipsum accusantium sint, officiis deleniti illo nemo amet, eligendi itaque cumque fugit. Molestiae cumque cupiditate voluptates non enim, et facilis quos nesciunt excepturi nemo omnis officiis voluptatibus necessitatibus consequatur quia alias.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quasi beatae omnis saepe harum at vitae quidem maiores unde modi recusandae reiciendis in ipsa, ipsum pariatur atque temporibus nulla corporis. Magni, dolorem. Labore velit at, hic blanditiis quaerat repellat, quasi laboriosam optio veniam, veritatis tenetur ex. Vero quas nisi perferendis dolor sequi obcaecati voluptatum commodi ad consequatur doloremque praesentium, tenetur cupiditate dolorum pariatur explicabo amet, cum sunt dicta, dolores cumque.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, soluta, enim? Tenetur ea et asperiores natus eius eligendi odit minima harum quae alias explicabo ipsum, vel distinctio fugit assumenda magnam veniam, rerum ipsa, provident doloremque enim cupiditate. Dolorem iure dolores adipisci cumque, asperiores officiis, quisquam optio, atque amet, consectetur rerum totam earum laborum rem labore modi repellendus id error sequi mollitia. Libero eum delectus dolor nemo possimus et cupiditate error.
			#disqus_thread

block footer
	include ./blocks/footer

block js
	script(src="assets/js/disqus.js")
	script(src="assets/js/post.js")