{{ define "main" }}
<div class="hero mb-16">
  <div class="px-4">
    <div class="content pt-8 md:pt-0">
      <h1 class="max-w-lg tracking-wider font-bold uppercase leading-none text-6xl md:text-9xl">
        La Vía <span class="block">láctea</span>
        <span class="block text-xl tracking-wide pl-1">La industria de la leche en Colombia</span>
      </h1>
      <div class="bar mt-6"></div>
      <p class="mt-8 text-xl max-w-md">Desde que se ordeña la vaca hasta que llega a tu mesa, pasando por los mayores contratistas de leche en el país, te contamos sobre la producción y contratación de leche en Colombia.</p>
    </div>
  </div>
</div>
<div class="scroll">
  <div class="px-4 mb-24 md:mb-32">
    <div class="content">
      <div class="flex flex-col md:-mx-6 md:flex-row md:items-center">
        <div class="md:px-6 w-full text-center md:w-1/2">
          <div class="bar mx-auto mt-8 md:mt-0"></div>
          <h2 class="font-bold leading-none mt-8 text-3xl md:text-5xl"><span class="block text-5xl md:text-7xl">Miles de</span> colombianos</h2>
          <p class="mt-8 text-lg md:text-xl max-w-sm mx-auto">empiezan su día tomando un chocolate en leche, un cereal con leche o un vaso de leche a solas. Su consumo ha sido parte fundamental de la vida familiar y forma parte de las primeras cosas que se depositan en el carrito del mercado. Este producto puede servir como parte del desayuno, como ingrediente de un postre o para acompañar el café de la tarde.</p>
        </div>
        <div class="px-6 w-full order-first md:w-1/2 md:order-none">
          <img src='{{ "images/collages/1.png" | absURL }}' alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 mb-24 md:mb-32">
    <div class="content">
      <div class="flex flex-col md:-mx-6 md:flex-row md:items-center">
        <div class="md:px-6 w-full text-center md:w-1/2">
          <div class="bar mx-auto mt-8 md:mt-0"></div>
          <h2 class="font-bold leading-none mt-8 text-3xl md:text-5xl">La leche <span class="block text-5xl md:text-7xl">de vaca</span></h2>
          <p class="mt-8 text-lg md:text-xl max-w-sm mx-auto">tiene un alto contenido de grasas y proteínas provechosas para el bienestar del ser humano y ayuda a que los niños disfruten de un crecimiento saludable. Tanto así que, en Colombia, al año se consumen aproximadamente 148 litros por persona. Estos es, aproximadamente, un vaso y medio de leche por día.</p>
        </div>
        <div class="px-6 w-full order-first md:w-1/2 md:order-none">
          <img src='{{ "images/collages/2.png" | absURL }}' alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 mb-24 md:mb-32">
    <div class="content">
      <div class="flex flex-col md:-mx-6 md:flex-row md:items-center">
        <div class="md:px-6 w-full text-center md:w-1/2">
          <div class="bar mx-auto mt-8 md:mt-0"></div>
          <h2 class="font-bold leading-none mt-8 text-3xl md:text-5xl">Los <span class="block text-5xl md:text-7xl">pequeños</span> productores</h2>
          <p class="mt-8 text-lg md:text-xl max-w-sm mx-auto">son fundamentales para que la leche llegue a la mesa de los colombianos. Son la parte más importante de la cadena de producción, ya que extraen la leche del ganado vacuno y la proveen a las industrias para su pasteurización, comercialización y posterior consumo.</p>
        </div>
        <div class="px-6 w-full order-first md:w-1/2 md:order-none">
          <img src='{{ "images/collages/3.png" | absURL }}' alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="article article-1 mb-24 md:mb-32 flex flex-col justify-center">
  {{ with (index .Site.RegularPages 0) }}
    {{ partial "article.html" . }}
  {{ end }}
</div>
<div class="scroll">
  <div class="px-4 mb-24 md:mb-32">
    <div class="content">
      <div class="flex flex-col md:-mx-6 md:flex-row md:items-center">
        <div class="md:px-6 w-full text-center md:w-1/2">
          <div class="bar mx-auto mt-8 md:mt-0"></div>
          <h2 class="font-bold leading-none mt-8 text-3xl md:text-5xl">Hay <span class="block text-5xl md:text-7xl">7 millones</span> de cabezas de ganado</h2>
          <p class="mt-8 text-lg md:text-xl max-w-sm mx-auto">aproximadamente en todo el país. Esto significa que por cada 7 habitantes, hay 1 bovino productor de leche. El departamento con mayor cantidad de ganado es Antioquia, con 3 millones de reses para 2018. Le sigue Córdoba y Casanare con aproximadamente 2 millones de reses cada uno.</p>
        </div>
        <div class="px-6 w-full order-first md:w-1/2 md:order-none">
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 mb-24 md:mb-32">
    <div class="content">
      <div class="flex flex-col md:-mx-6 md:flex-row md:items-center">
        <div class="md:px-6 w-full text-center md:w-1/2">
          <div class="bar mx-auto mt-8 md:mt-0"></div>
          <h2 class="font-bold leading-none mt-8 text-3xl md:text-5xl">El análisis de <span class="block text-5xl md:text-7xl">calidad láctea</span></h2>
          <p class="mt-8 text-lg md:text-xl max-w-sm mx-auto">dicta el precio a pagar por la leche cruda dependiendo de la cantidad de Grasa, Proteína, Sólidos Totales y Unidades Formadoras de Colonias (UFC) del producto crudo. Actualmente, a un productor de leche se le paga $1.103 por litro del producto y le queda como ganancia $310 por litro, una gran diferencia respecto a lo pagado por los consumidores de leche en el país, quienes pagan aproximadamente $2.500 por una bolsa de leche de 1,1 litros. Esto quiere decir que la industria de comercialización de lácteos está ganando más del doble de lo pagado al productor.</p>
        </div>
        <div class="px-6 w-full order-first md:w-1/2 md:order-none">
          <img src='{{ "images/collages/5.png" | absURL }}' alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="article article-2 mb-24 md:mb-32 flex flex-col justify-center">
  {{ with (index .Site.RegularPages 1) }}
    {{ partial "article.html" . }}
  {{ end }}
</div>
<div class="scroll">
  <div class="px-4 mb-24 md:mb-32">
    <div class="content">
      <div class="flex flex-col md:-mx-6 md:flex-row md:items-center">
        <div class="md:px-6 w-full text-center md:w-1/2">
          <div class="bar mx-auto mt-8 md:mt-0"></div>
          <h2 class="font-bold leading-none mt-8 text-3xl md:text-5xl">El consumo<span class="block text-5xl md:text-7xl">de leche</span></h2>
          <p class="mt-8 text-lg md:text-xl max-w-sm mx-auto">en Colombia no solo responde a la comercialización de la misma: el Estado colombiano también contrata con empresas privadas la distribución de productos lácteos a través de distintas entidades del sector público.</p>
        </div>
        <div class="px-6 w-full order-first md:w-1/2 md:order-none">
          <img src='{{ "images/collages/6.png" | absURL }}' alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 mb-24 md:mb-32">
    <div class="content">
      <div class="flex flex-col md:-mx-6 md:flex-row md:items-center">
        <div class="md:px-6 w-full text-center md:w-1/2">
          <div class="bar mx-auto mt-8 md:mt-0"></div>
          <h2 class="font-bold leading-none mt-8 text-3xl md:text-5xl">Las empresas <span class="block">que más contratan</span> <span class="block text-5xl md:text-7xl">con el Estado</span></h2>
          <p class="mt-8 text-lg md:text-xl max-w-sm mx-auto">en relación con leche y productos lácteos desde el 2011 son La Recetta Soluciones Gastronómicas Integradas, Cooperativa Colanta LTDA, Lácteos Buenos Aires S.A.S y Nestlé de Colombia. Casi todas ellas firman acuerdos para la provisión de lácteos con el fin de ser vendidos en las mismas entidades a nivel nacional y territorial. Muy pocos contratos se relacionan con la provisión de alimentos para programas de asistencia a poblaciones vulnerables.</p>
        </div>
        <div class="px-6 w-full order-first md:w-1/2 md:order-none">
          <img src='{{ "images/collages/7.png" | absURL }}' alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 mb-24 md:mb-32">
    <div class="content">
      <div class="flex flex-col md:-mx-6 md:flex-row md:items-center">
        <div class="md:px-6 w-full text-center md:w-1/2">
          <div class="bar mx-auto mt-8 md:mt-0"></div>
          <h2 class="font-bold leading-none mt-8 text-3xl md:text-5xl">El Plan de <span class="block">Alimentación</span><span class="block text-5xl md:text-7xl">Escolar</span></h2>
          <p class="mt-8 text-lg md:text-xl max-w-sm mx-auto">es un programa de asistencia que se realiza como un mecanismo para brindar a menores de edad desayunos, refrigerios y almuerzos con alta calidad nutricional, que permitan aumentar las tasas de matrículas en instituciones educativas públicas, especialmente para el mejoramiento de la calidad educativa en el país.</p>
        </div>
        <div class="px-6 w-full order-first md:w-1/2 md:order-none">
          <img src='{{ "images/collages/8.png" | absURL }}' alt="">
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}