/* ==================== */
/*        VIDEO         */
/* ==================== */
.video-container .video-js {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.video-js button.vjs-big-play-button {
	border-radius: 50%;
	height: 2em;
	left: 50%;
	line-height: 1.9em;
	top: 50%;
	transform: translate(-50%,-50%);
	width:2em;
}
.banner {
	background: no-repeat center center;
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.5s ease-in-out;
	transform: translate3d(0,0,0);
	width: 100%;
	opacity: 0;
	visibility: 0;
	z-index: -1;
	
}
/* ==================== */
/*        STORIES       */
/* ==================== */
.stories-container {
	background: #2a2a2a;
}
.stories-carousel {
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.story-box {
	display: -ms-flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	padding: 3vw;
	position: relative;
	text-align: center;
	min-height: 100vh;
}
.story-box a {
	color: #bb1d58;
	position: relative;
	text-decoration: none;
}
.story-box a:hover {
	color: #bb1d58;
}
.story-box a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #bb1d58;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.story-head {
	text-transform: uppercase;
	margin-top: 0;
}
.story-img {
	max-width: 80%;
	margin: 0 auto;
}
.story-box a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.owl-item:nth-child(1){
	background-color: #ffffff;
}
.owl-item:nth-child(2){
	background-color: #f5f5f5;
}
.owl-item:nth-child(3){
	background-color: #ececec;
}
.owl-item:nth-child(4){
	background-color: #e3e3e3;
}
.owl-item:nth-child(5){
	background-color: #dadad9;
}
.owl-item:nth-child(6){
	background-color: #d0d0cf;
}
.owl-nav {
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	margin: 0 !important;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.owl-prev,
.owl-next {
	background: transparent !important;
}
.owl-prev i,
.owl-next i {
	color: #190c41;
	font-size: 30px;
}
@media only screen and (min-width: 768px) {
	.story-box {
		align-items: center;
		justify-content: center;
		min-height: 0vh;
		height: 100vh;
	}
}
/* ==================== */
/*         QUIZ         */
/* ==================== */
.quiz-container {
	background-color: #190c41;
}
iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
/* ==================== */
/*         DATA         */
/* ==================== */
.data-container {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.app-container {
	align-items: center;
	background: #bb1d58;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
}
.results-container {
	align-items: center;
	background: #190c41;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
}
@media only screen and (min-width: 768px) {
	.app-container {
		width: 50%;
	}
	.results-container {
		width: 50%;
	}
}
/* ==================== */
/*         TALES        */
/* ==================== */
.tales-container {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.tale-item {
	align-items: center;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 33.33%;
}
.tale-item:nth-child(1) {
	background: #ffffff;
}
.tale-item:nth-child(2) {
	background: #fbfbfb;
}
.tale-item:nth-child(3) {
	background: #f7f7f7;
}
.tale-item:nth-child(4) {
	background: #f4f4f4;
}
.tale-item:nth-child(5) {
	background: #f0f0f0;
}
.tale-item:nth-child(6) {
	background: #ececec;
}
.tale-item:nth-child(7) {
	background: #e8e8e8;
}
.tale-item:nth-child(8) {
	background: #e5e5e5;
}
.tale-item:nth-child(9) {
	background: #e1e1e1;
}
.number {
	font-size: 50px;
}
@media only screen and (min-width: 768px) {
	.tale-item {
		flex: 1 0 auto;
		width: auto;
	}
}
/* ==================== */
/*     TALE OVERLAY     */
/* ==================== */
.tale-overlay {
	background: white;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	height: 0vh;
	left: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 0;
	transition: all 0.5s;
	transition-delay: 0.6s;
	width: 100%;
	z-index: 10;
}
.tale-overlay-header {
	align-items: center;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	flex: 1 0 auto;
	justify-content: space-between;
	margin-bottom: 5vw;
	opacity: 0;
	transition: all 0.3s;
	transition-delay: 0.3s;
	visibility: hidden;
}
.tale-overlay-header h1 {
	margin: 0;
}
.tale-overlay-header .close-overlay {
	background: transparent;
	border: none;
	font-size: 20px;
}
.tale-overlay-body {
	flex: 1 0 auto;
	opacity: 0;
	transition: all 0.3s;
	transition-delay: 0s;
	visibility: 0;
}
.tale-overlay.opened {
	height: 100vh;
	overflow: auto;
	padding: 3vw 5vw;
	transition: all 0.5s;
}
.tale-overlay.opened > .tale-overlay-header {
	transition: 2s;
	transition-delay: 0.3s;
	opacity: 1;
	visibility: visible;
}
.tale-overlay.opened > .tale-overlay-body {
	display: flex;
	flex-direction: column;
	opacity: 1;
	position: relative;
	transition-delay: 0.6s;
	transition: 2s;
	visibility: visible;
}
.tale-overlay.opened > .tale-overlay-body .tale-overlay-sketch {
	margin-bottom: 5vw;
}
@media only screen and (min-width: 768px) {
	.tale-overlay.opened > .tale-overlay-body {
		flex-direction: row;
	}
	.tale-overlay.opened > .tale-overlay-body .tale-overlay-sketch {
		margin-bottom: 0;
		margin-right: 2.5vw;
		flex-basis: 40%;
	}
	.tale-overlay.opened > .tale-overlay-body .tale-overlay-text {
		flex-basis: 60%;
	}
}