@import 'vars';

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto Mono', monospace;
}

body.no-scroll {
  overflow: hidden;
}

p,
ul,
a,
span {
  font-size: 1.5rem;
  @media screen and (min-width: 768px) {
    font-size: 1.6rem;
  }
  @media screen and (min-width: 992px) {
    font-size: 1.7rem;
  }
}

a {
  text-decoration: none;
}

pre {
  margin: 0;
}

@mixin burger($color) {
  .burger-box {
    cursor: pointer;
    height: 20px;
    width: 25px;
    .burger {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      position: relative;
      width: 100%;
      &:before,
      &:after {
        background: $color;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        transition-delay: 0.25s;
        transition: all 0.25s ease-in-out;
        width: 100%;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
      span {
        background: $color;
        height: 4px;
        position: relative;
        transition-delay: 0;
        transition: all 0.25s cubic-bezier(0.330, 0.065, 0.370, 1.230);
        width: 100%;
        &:before {
          background: $color;
          content: '';
          height: 100%;
          position: absolute;
          transition-delay: 0;
          transition: all 0.25s cubic-bezier(0.330, 0.065, 0.370, 1.230);
          width: 100%;
        }
      }
    }
  }
  
  .burger-box.burger-open .burger {
    &:before {
      opacity: 0;
      top: 50%;
      transform: translateY(-50%);
      transition-delay: 0;
    }
    &:after {
      bottom: 50%;
      opacity: 0;
      transform: translateY(50%);
      transition-delay: 0;
    }
    span {
      transform: rotateZ(-45deg);
      transition-delay: 0.25s;
      &:before {
        transform: rotateZ(-90deg);
        transition-delay: 0.25s;
      }
    }
  }
}

/* NAVBAR */
.nav {
  background: $ds-dark-blue;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.25s linear;
  width: 100%;
  z-index: 500;
  @include burger(white);
}
.nav img {
  filter: brightness(0) invert(1);
  transition: all 0.25s linear;
}
.nav.activated {
  @include burger(black);
  img {
    filter: brightness(0) invert(0);
  }
}
.nav.nav-affixed {
  transform: translateY(-100%);
}
.nav.nav-minimized {
  visibility: hidden;
}
.nav.nav-maximized {
  transform: translateY(0)
}
.menu {
  background: rgba(255, 255, 255, 0.9);
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 250ms ease-in;
  width: 0;
  &.opened {
    width: 100%;
  }
  .menu-link {
    align-self: flex-start;
    color: black;
    font-size: 20px;
    padding: 10px 0 0;
    position: relative;
    &:after {
      background: black;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transition: all 250ms ease-in;
      width: 100%;
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }
}

/* FOOTER */
footer {
  background: $ds-dark-blue;
  color: white;
  padding: 20px 0;
}
footer .footer-container {
  width: 90%;
  margin: 0 auto;
}
footer p {
  margin: 0 0 10px;
}
footer a {
  color: inherit;
}
footer img {
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  footer .footer-container {
    width: 75%;
  }
}

/* HELPERS */
// Container
.container {
  margin: 0 auto;
  width: 90%;
}
.container-m {
  margin: 0 auto;
  width: 90%;
  @media screen and (min-width: 768px) {
    width: 75%;
  }
}
.post-container {
  margin: 0 auto;
  width: 90%;
  @media screen and (min-width: 768px) {
    width: 60%;
  }
  @media screen and (min-width: 992px) {
    width: 50%;
  }
}
// Fonts
.font-rubik {
  font-family: 'Rubik', sans-serif;
}
.font-300 {
  font-weight: 300;
}
// Images
.responsive {
  max-width: 100%;
}
// Backgrounds
.bg-white {
  background: white;
}
.bg-yellow {
  background: $ds-yellow;
}
// Text colors
.text-pink {
  color: $ds-pink
}
.text-violet {
  color: $ds-violet;
}
.text-blue {
  color: $ds-blue
}
.text-teal {
  color: $ds-teal
}
.text-yellow {
  color: $ds-yellow;
}
.text-dark-blue {
  color: $ds-dark-blue
}
.text-white {
  color: white;
}
// Text alignment
.text-center {
  text-align: center;
}