html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.topnav {
  background: #3d83d1;
  position: fixed !important;
  transition: all 0.25s linear;
  z-index: 20;
}
.topnav .special-wrapper .hamburger span.hamburger-inner,
.topnav .special-wrapper .hamburger span.hamburger-inner:after,
.topnav .special-wrapper .hamburger span.hamburger-inner:before {
  box-shadow: none !important;
}
main {
	padding-top: 50px;
}
/*b21212*/
.post-title {
	font-family: 'Oswald', sans-serif !important;;
	font-size: 25px;
	margin: 20px auto 20px !important;
	text-transform: uppercase;
	/*width: 90%;*/
  color: rgba(0,0,0,0.75);
}
.contained {
	font-family: 'Lora', serif;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
.contained img {
  margin: 20px auto;
}
.winner-name {
  font-size: 22px;
  margin: 20px 0;
}
.winner-photo {
	margin: 10px 0;
}
.disclaimer {
  text-align: right;
}
.disclaimer p {
  font-size: 12px;
}
.hero-image {
  background: no-repeat center center;
  background-size: cover;
  margin-bottom: 20px;
  height: 350px;
}
/* FAQ */
.link-active {
  font-weight: bold;
}
.question {
  font-weight: bold;
  margin: 20px 0;
  font-size: 22px;
}
.panel {
  box-shadow: none;
  border: none;
}
.panel-default {
  border-color: none;
}
.panel-default > .panel-heading {
  background-color: transparent;
}
.panel-title > a {
  font-size: 14px;
  transition: all 0.3s;
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus {
  text-decoration: none;
}
.panel-title > a span {
  color: #3d83d1;
  transition: all 0.25s linear;
}
.panel-body {
  border-top: none !important;;
}
.panel-body p {
  font-size: 14px;
}
.to-group {
  transform: rotate(180deg);
}
.subtitle-label {
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0;
}
/* MAIN */
.subtitle {
  font-weight: bold;
  font-size: 22px;
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  .full-menu ul li a { font-size: 23px; }
  .contained { 
  	font-size: 18px;
  	width: 75%;
  }
  .post-title { 
  	font-size: 35px;
  	margin: 0 auto 20px;
  	/*width: 90%;*/
  }
  .panel-title > a {
    font-size: 18px;
  }
  .panel-body p {
    font-size: 18px;
  }
}
/* Slider */
.carousel {
  color: whitesmoke;
  height: 500px;
  margin: 20px 0 40px;
}
.carousel-control.left,
.carousel-control.right {
  background: none;
}
iframe {
  margin: 15px 0;
}
p > iframe {
  margin: 0;
}
.image-info {
  font-size: 13px;
  font-weight: bold;
}
.image-src {
  text-align: right;
  font-size: 13px;
}
@media screen and (min-width: 992px) {
  .contained { width: 55%; }
  .post-title { 
  	font-size: 40px;
  	margin: 0 auto 30px;
  	/*width: 70%;*/
  }
}
@media screen and (min-width: 1200px) {
  .post-title { 
    font-size: 40px;
    margin: 0 auto 30px;
    /*width: 60%;*/
  }
}