{{ define "main" }}
  <div class="intro text-white bg-no-repeat bg-cover bg-center py-40" style='background-image: url({{ "images/bg-titulo.webp"|absURL }})'>
    <div class="container text-center">
      <img src='{{ "images/titulo.svg" | absURL }}' alt="Elecciones y contratos" class="mx-auto">
      <p class="w-full mt-20 mx-auto md:max-w-lg">Elecciones y Contratos revela las personas naturales y jurídicas que fueron <strong>aportantes de campañas electorales</strong> territoriales, y su relación con la <strong>contratación pública</strong> de Colombia.</p>
    </div>
  </div>
  <!---->
  <section class="py-20">
    <div class="px-4 lg:px-0 lg:w-5/6 mx-auto">
      <div class="flex flex-col lg:-mx-4 lg:flex-row lg:items-center">
        <div class="lg:w-1/2 lg:px-4">
          <img src='{{ "images/monedas.webp" | absURL }}' class="w-full max-w-xs mx-auto">
        </div>
        <div class="text-center mt-8 mx-auto md:w-2/3 lg:w-1/2 lg:px-4 lg:mt-0">
          <h2 class="uppercase font-extrabold leading-tight">
            <span class="tracking-wide text-xl lg:text-2xl">El financiamiento de lo</span>
            <span class="block text-fuchsia-pink text-3xl lg:text-6xl">político y electoral</span>
          </h2>
          <p class="mt-6 text-sm">en Colombia se hace mediante los aportes que distintas personas –naturales o jurídicas– brindan a las campañas o al funcionamiento de los partidos políticos. Estas son formas <strong>legítimas de participación</strong> y expresión de los intereses entre los donantes y los tomadores de decisiones políticas.</p>
        </div>
      </div>
    </div>
  </section>
  <!---->
  <section class="py-20 bg-wild-sand">
    <div class="text-center px-4 max-w-3xl mx-auto md:w-2/3">
      <h2 class="uppercase font-extrabold leading-tight">
        <span class="tracking-wide text-xl lg:text-2xl">¿Quiénes son los mayores</span>
        <span class="block text-fuchsia-pink text-3xl lg:text-6xl">financiadores?</span>
      </h2>
      <p class="mt-6 text-sm">Quienes tienen más financiadores en <strong>elecciones territoriales</strong> son los candidatos a las alcaldías y a los concejos municipales, cuyos ingresos principales se registran por parte de personas naturales. Por otro lado, en las <strong>elecciones generales</strong> los candidatos a Congreso son quienes más aportantes tienen, a pesar de que las elecciones presidenciales pueden movilizar más dinero por un sólo candidato. Quienes más reciben aportes de naturales y familiares son los candidatos a representantes a la cámara, sin embargo para Senado se   reciben más aportes de personas jurídicas.</p>
    </div>
  </section>
  <!---->
  <section class="py-20 bg-ecstasy text-white relative">
    <div class="px-4 lg:px-0 lg:w-5/6 mx-auto">
      <div class="flex flex-col lg:-mx-4 lg:flex-row lg:items-center">
        <div class="text-center mt-8 mx-auto md:w-2/3 lg:w-1/2 lg:px-4 lg:mt-0 lg:mx-0 relative z-10">
          <h2 class="uppercase leading-tight">
            <span class="tracking-wide font-regular text-xl lg:text-2xl">La contratación</span>
            <span class="block font-extrabold text-3xl lg:text-6xl">pública</span>
          </h2>
          <p class="mt-6 text-sm">es quizás el principal escenario en que se puede materializar la <strong>relación indebida entre financiación de campañas y aportantes privados</strong>, aunque en principio no es ilegal financiar la política y al mismo tiempo obtener contratos públicos. Las <strong>irregularidades</strong> se encuentran cuando la entrega de aportes para apoyar las campañas y los partidos políticos está condicionada a la <strong>obtención de beneficios particulares</strong> y/o cuando se generan <strong>conflictos de intereses</strong> que no son declarados.</p>
        </div>
        <div class="absolute top-0 right-0">
          <img src='{{ "images/contrato.webp" | absURL }}' class="w-48 md:w-56 lg:w-full lg:max-w-sm">
        </div>
      </div>
    </div>
  </section>
  <!---->
  <section class="py-20">
    <div class="px-4 lg:px-0 lg:w-5/6 mx-auto">
      <div class="flex flex-col lg:-mx-4 lg:flex-row lg:items-center">
        <div class="text-center mx-auto md:w-2/3 lg:w-1/2 lg:px-4">
          <h2 class="uppercase font-extrabold leading-tight">
            <span class="tracking-wide text-ecstasy text-xl lg:text-2xl">¿Por qué investigar estas</span>
            <span class="block text-vermilion text-3xl lg:text-6xl">relaciones indebidas?</span>
          </h2>
          <p class="mt-6 text-sm">Cuando más de la tercera parte de las personas jurídicas (empresas, asociaciones y organizaciones con o sin ánimos de lucro) son las que luego de su aporte reciben contratos con el Estado, es obligatorio preguntarse <strong>cuáles son las motivaciones reales de los financiadores de campañas.</strong></p>
        </div>
        <div class="lg:w-1/2 lg:px-4">
        </div>
      </div>
    </div>
  </section>
  <!---->
  <section class="py-20 bg-wild-sand">
    <div class="text-center px-4 max-w-3xl mx-auto md:w-2/3">
      <h2 class="uppercase font-extrabold leading-tight">
        <span class="tracking-wide text-ecstasy text-xl lg:text-2xl">¿Qué es la</span>
        <span class="block text-vermilion text-3xl lg:text-6xl">tasa de retorno?</span>
      </h2>
      <p class="mt-6 text-sm">Los financiadores que son personas jurídicas pueden tener una tasa de retorno por su aporte, es decir <strong>la cantidad de dinero que recibió en contratos</strong> con el Estado respecto al monto que financió en el mismo nivel territorial.</p>
    </div>
  </section>
  <!---->
  <section class="py-20 bg-sunshade text-white">
    <div class="text-center px-4 max-w-3xl mx-auto md:w-2/3">
      <img src='{{ "images/cono.webp" | absURL }}' class="w-64 max-w-xs mx-auto">
      <h2 class="uppercase leading-tight mt-10">
        <span class="tracking-wide font-regular text-xl lg:text-2xl">Nuestros principales</span>
        <span class="block font-extrabold text-vermilion text-3xl lg:text-6xl">hallazgos</span>
      </h2>
      <p class="mt-6 text-sm font-extrabold tracking-wide">Respecto a los datos de financiadores de campañas que a su vez son contratistas con el Estado, encontramos lo siguiente. Respecto a los datos de financiadores de campañas que a su vez son contratistas con el Estado, encontramos lo siguiente:</p>
    </div>
  </section>
  <!---->
  <section class="py-20">
    <div class="px-4 lg:px-0 lg:w-5/6 mx-auto">
      <div class="flex flex-col-reverse lg:-mx-4 lg:flex-row lg:items-center">
        <div class="text-center mt-8 mx-auto md:w-2/3 lg:w-1/2 lg:px-4 lg:mt-0">
          <h2 class="uppercase leading-tight">
            <span class="tracking-wide font-regular text-xl lg:text-2xl">financiadores</span>
            <span class="block font-extrabold text-denim text-3xl lg:text-6xl">anónimos</span>
          </h2>
          <p class="mt-6 text-sm">En los reportes de financiamiento existe información de aportantes que no corresponde con su número de identidad y/o nombre. Se encontraron 1272 casos en los que la información registrada del financiador se suplanta por la de otra de persona o por datos inexistentes. Estos registros irregulares impiden conocer el origen de los ingresos.</p>
          <a href="http://www.monitorciudadano.co/elecciones-contratos/historias/financiadores-anonimos" target="_blank" class="button bg-denim text-white mt-10">Leer artículo</a>
        </div>
        <div class="lg:w-1/2 lg:px-4">
          <img src='{{ "images/man.webp" | absURL }}' class="w-full max-w-xs mx-auto">
        </div>
      </div>
    </div>
  </section>
  <!---->
  <section class="py-20 bg-denim text-white">
    <div class="px-4 lg:px-0 lg:w-5/6 mx-auto">
      <div class="flex flex-col lg:-mx-4 lg:flex-row lg:items-center">
        <div class="lg:w-1/2 lg:px-4">
          <img src='{{ "images/prohibido.webp" | absURL }}' class="w-full max-w-xs mx-auto">
        </div>
        <div class="text-center mt-8 mx-auto md:w-2/3 lg:w-1/2 lg:px-4 lg:mt-0">
          <h2 class="uppercase leading-tight">
            <span class="tracking-wide font-regular text-xl lg:text-2xl">financiadores</span>
            <span class="block font-extrabold text-tarawera text-3xl lg:text-6xl">prohibidos</span>
          </h2>
          <p class="mt-6 text-sm">Según la ley colombiana existen fuentes de financiación no permitidas por parte de personas naturales que tengan acusaciones o imputaciones en procesos penales, asociación con grupos armados ilegales, narcotráfico, entre otros. Sin embargo se hallaron 12 financiadores que habrían tenido inhabilidades vigentes en el momento de realizar su aporte.</p>
          <a href="http://www.monitorciudadano.co/elecciones-contratos/historias/financiadores-prohibidos" target="_blank" class="button bg-white text-denim mt-10">Leer artículo</a>
        </div>
      </div>
    </div>
  </section>
  <!---->
  <section class="py-20">
    <div class="px-4 lg:px-0 lg:w-5/6 mx-auto">
      <div class="flex flex-col-reverse lg:-mx-4 lg:flex-row lg:items-center">
        <div class="text-center mt-8 mx-auto md:w-2/3 lg:w-1/2 lg:px-4 lg:mt-0">
          <h2 class="uppercase leading-tight">
            <span class="tracking-wide font-regular text-xl lg:text-2xl">financiadores registrados</span>
            <span class="block font-extrabold text-denim text-3xl lg:text-6xl">en sisbén</span>
          </h2>
          <p class="mt-6 text-sm">De los 34.075 aportantes de campañas que tienen contratos con el Estado, hay 2773 registrados en el Sistema de Potenciales Beneficiarios de Programas Sociales (SISBEN), y aproximadamente el 38% (1.057) están registrados en condiciones de vulnerabilidad extrema, que les da acceso a cualquier subsidio de vivienda, educación, entre otros.</p>
          <a href="http://www.monitorciudadano.co/elecciones-contratos/historias/pobres-no-tan-pobres" target="_blank" class="button bg-denim text-white mt-10">Leer artículo</a>
        </div>
        <div class="lg:w-1/2 lg:px-4">
          <img src='{{ "images/disfraz.webp" | absURL }}' class="w-full max-w-xs mx-auto">
        </div>
      </div>
    </div>
  </section>
  <!---->
  <section class="py-20 text-white bg-sunshade">
    <div class="px-4 lg:px-0 lg:w-5/6 mx-auto">
      <div class="flex flex-col lg:-mx-4 lg:flex-row lg:items-center">
        <div class="lg:w-1/2 lg:px-4">
          <img src='{{ "images/data.webp" | absURL }}' class="w-full max-w-xs mx-auto">
        </div>
        <div class="text-center mt-8 mx-auto md:w-2/3 lg:w-1/2 lg:px-4 lg:mt-0">
          <h2 class="uppercase leading-tight">
            <span class="tracking-wide font-regular text-xl lg:text-2xl">calidad de la</span>
            <span class="block font-extrabold text-3xl lg:text-6xl">información</span>
          </h2>
          <p class="mt-6 text-sm">El análisis de datos abiertos de las plataformas de acceso público de información de financiación de campañas y contratos públicos, permitió visibilizar algunos errores en el origen de los datos, aquí está nuestro diagnóstico.</p>
          <a href="{{.Site.BaseURL}}posts/calidad-de-la-informacion" class="button bg-white text-sunshade mt-10">Leer artículo</a>
        </div>
      </div>
    </div>
  </section>
  <!---->
  {{ partial "methodology.html" . }}
  <!---->
{{ end }}