@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600');
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
::-webkit-scrollbar {
	display: none;
}
#wrapper {
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
#wrapper main {
	flex: 1 0 auto;
}
.brand a {
	margin: 0 20px;
}
.brand a:last-child {
	margin: 0;
}
footer {
	/*bottom: 0;
	left: 0;
	position: absolute;*/
	width: 100%;
}
.bg-yellow {
	background-color: #F4E61E;
}
.bg-black {
	background-color: black;
}
.text-yellow {
	color: #F4E61E;
}
.text-white {
	color: white;
}
.text-black {
	color: black;
}
.button {
	background-color: #eeeeee;
	border-radius: 5px;
	padding: 8px 18px;
}
.button:hover {
	text-decoration: none;
}
.button-yellow {
	background-color: #F4E61E;
	box-shadow: 1px 2px #e3d50d; 
	color: #463838;
}
.button-yellow:hover {
	color: #574949;
}
.contain {
	margin: 0 auto;
	width: 90%;
}
.corrupstar-section {
	flex-direction: column-reverse;
}
.corrupstars-container {
	width: 100%;
}
.corrupstar {
	width: 45%;
	margin-bottom: 20px;
}
.corrupstar img {
	border-radius: 50%;
}
.corrupstar-name {
	margin-bottom: 2px;
}
.vote-btn {
	width: 100%;
}
.invitation,
.goto {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
}
.tools, .team {
	display: flex;
	flex-direction: column;
	padding: 5vw;
	width: 100%;
}
.full-width {
	width: 100%;
}
.full-screen {
	height: 100%;
	position: relative;
	width: 100%;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-row {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}
.flex-space-between {
	justify-content: space-between;
}
.flex-space-around {
	justify-content: space-around;
}
.flex-end {
	justify-content: flex-end;
}
.flex-center {
	justify-content: center;
}
.flex-30 {
	width: 30%;
}
.flex-50 {
	width: 50%;
}
.flex-40 {
	width: 40%;
}
.flex-60 {
	width: 60%;
}
.flex-70 {
	width: 70%;
}
.first-section {
	flex: 0 0 auto;
}
.logo {
	height: auto;
}
.logo-xs {
	width: 100px;
}
.logo-sm {
	width: 130px;
}
.logo-md {
	width: 160px;
}
.logo-lg {
	width: 190px;
}
.second-section {
	flex: 1 1 auto;
}
.padding-20 {
	padding: 20px;
}		
.padding-vertical-20 {
	padding: 20px 0;
}
.text-size-xx-small { font-size: xx-small; }
.text-size-x-small { font-size: x-small; }
.text-size-small { font-size: small; }
.text-size-medium { font-size: medium; }
.text-size-large { font-size: large; }
.text-size-x-large { font-size: x-large; }
.text-size-xx-large { font-size: xx-large; }
.titillium { font-family: 'Titillium Web', sans-serif; }
.titillium-regular { font-weight: 400; }
.titillium-light { font-weight: 300; }
.titillium-semibold { font-weight: 600; }
@media screen and (min-width: 768px) {
	.corrupstar-section {
		flex-direction: row;
	}
	.corrupstars-container,
	.vote-btn {
		width: 50%;
	}
	.corrupstar {
		width: 45%;
	}
	.invitation,
	.goto {
		width: 50%;
		margin-bottom: 0;
	}
	.tools, .team {
		width: 50%;
	}
}
@media screen and (min-width: 992px) {
	.corrupstar {
		width: 25%;
	}
}
#first-section {
	height: 600px;
	position: relative;
}
#second-section {
	height: 700px;
	position: relative;
}
#third-section {
	position: relative;
}
.center {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.subscribe {
	display: block;
	margin: 0 auto;
}