:root {
  --tory-blue: #105EAD;
  --denim: #1272DF;
  --amaranth: #E6374A;
  --black-bean: #091E1B;
}

html,
body {
  font-family: 'Lato', sans-serif;
}

.text--white {
  color: white;
}

header {
  box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  z-index: 2000 !important;
}

.burger-menu.open {
  z-index: 1500 !important;
}

.nav__logo img {
  transition: all 0.25s ease;
}

.logo-ds {
  margin-left: 10px;
}

.logo-ds img {
  width: 200px;
}

header.affixed .nav__logo img {
  width: 100px !important;
}