/*
*=====================
* 1. Fonts
* 2. Globals
* 3. Helpers
* 4. Section specific
* 5. Media queries
*=====================
*/

/* 1. Fonts */
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  src: url('../fonts/Raleway-ExtraBold.ttf');
}


/* 2. Globals */
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  color: #213133;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* 3. Helpers */
.bg-alabaster {
  background-color: #f7f7f7;
}

.bg-ecstasy {
  background-color: #fa8223;
}

.bg-sunshade {
  background-color: #ffa624;
}

.bg-denim {
  background-color: #137fc0;
}

.bg-tarawera {
  background-color: #0A446b;
}

.bg-violet-eggplant {
  background-color: #941994;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.narrow-xs,
.narrow-sm,
.narrow-md {
  width: 100%;
}

.section {
  padding-bottom: 6rem;
  padding-top: 6rem;
}

.section-row {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-fuchsia-pink {
  color: #c250c2;
}

.text-ecstasy {
  color: #fa8223;
}

.text-vermilion {
  color: #f54205;
}

.text-white {
  color: #ffffff;
}

.text-denim {
  color: #137fc0;
}

.text-tarawera {
  color: #0A446b;
}

.title {
  font-weight: 800;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.title-sub {
  font-size: 1.25rem;
  letter-spacing: 0.025em;
}

.title-highlight {
  font-size: 3rem;
}

/* 4. Section specific */
.intro {
  background-image: url('../images/bg-titulo.webp');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 10rem 0;
}

.intro-brief {
  margin-top: 5rem;
}

/* 5. Media queries */
@media screen and (min-width: 768px) {
  .container {
    width: calc(5 / 6 * 100%);
  }
}

@media screen and (min-width: 1024px) {
  .narrow-xs {
    max-width: 500px;
  }
  .narrow-sm {
    max-width: 550px;
  }
  .narrow-md {
    max-width: 640px;
  }
  .section-row {
    flex-direction: row;
  }
  .section-col {
    width: 50%;
  }
}