@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Rubik:300,400,500');

$ds-pink: #F74A5A;
$ds-violet: #837BE6;
$ds-blue: #10BDBD;
$ds-teal: #4BCD93;
$ds-yellow: #E7AD42;
//$ds-dark-blue: #0A092B;
$ds-dark-blue: #040B25;