<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="theme-color" content="#0A092B")
    block meta
    block title
    link(rel="stylesheet", href="https://cdn.jsdeliver.net/gh/randommonkey/ds.css@1.0.0/dist/ds.css")
    block css
  body
    #wrapper
      include ./navbar
      block main
      include ./footer
    script(src="assets/js/default.js")
    block js