footer.font-rubik.font-300
  .footer-container
    p
      | Este es un trabajo de periodismo de datos del equipo de 
      a.text-white(href="equipo.html" style="text-decoration: underline") Datasketch
      | . Revisa cómo creamos este especial en la 
      a.text-white(href="metodologia.html") metodología
    p
      | Todo el material en esta página es 
      a.text-white(href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer" style="text-decoration: underline") CC-BY-SA
      | . Si reusas o adaptas recursos de esta página, por favor vincula y referencia nuestro artículo o sitio web.
    img.block(src="assets/media/cc.png", alt="Creative Commons")