nav.nav
  .menu.column.v-centered
    .container.column.font-rubik
      a.menu-link.text-white(href="home.html") Inicio
      a.menu-link.text-white(href="banderas-rojas.html") Banderas rojas
      a.menu-link.text-white(href="#") Metodología
      a.menu-link.text-white(href="equipo.html") Nuestro equipo
  .container.line.justify-between.v-centered
    .burger-box: .burger: span
    a(href="https://www.datasketch.co/es"): img(src="assets/media/logo.png", alt="Logo Datasketch")