nav.nav
  .menu.column.v-centered
    .container.column
      a.menu-link(href="home.html") Inicio
      a.menu-link(href="banderas-rojas.html") Banderas rojas en la contratación estatal
      a.menu-link(href="data.html") Datos de contratación
      a.menu-link(href="diagnostico.html") Diagnóstico de datos
      a.menu-link(href="stalker-de-la-contratacion.html") Stalker de la contratación
      a.menu-link(href="#") Metodología
      a.menu-link(href="equipo.html") Nuestro equipo
  .container.line.justify-between.v-centered
    .burger-box: .burger: span
    a(href="https://www.datasketch.co/es"): img(src="assets/media/logo.png", alt="Logo Datasketch")