@import './config/default';
#app {
  position: relative;
  width: 100%;
}
#gif-container {
  padding: 0 0 56.25% 0;
  position: relative;
  width: 100%;
}
#gif {
  background-size: cover !important;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.app-controls {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  position: static;
  @media only screen and (min-width: 768px) {
    align-items: start;
    flex-direction: row;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}
.refresh {
  background: $ds-green;
  border-color: rgb(0, 89, 0);
  color: white;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  padding: 5px;
}
select {
  background: $ds-yellow;
  border: none;
  color: $ds-bluegray;
  padding: 5px;
  font-family: 'Press Start 2P', cursive;
}
.results {
  border-collapse: collapse;
}
.results td, .results th {
  border: none;
  padding: 5px;
}
.results tr {
  background-color: #f2f2f2;
}

.results th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $ds-bluegray;
  color: white;
}
// Video
.video-manager {
  background: $ds-bluegray;
  bottom: 125px;
  display: none;
  height: 20px;
  position: fixed;
  right: 10px;
  transform: translateY(-100%);
  width: 240px;
}
.video-manager.visible {
  display: flex;
}
.video-manager a.close-video {
  color: $ds-yellow-primary;
  margin: 0 5px 0 0;
  text-decoration: none;
}
.video-container {
  background: rgba(2, 39, 51, 0.1);
  padding: 0 0 56.25% 0;
  position: relative;
  width: 100%;
}
.video-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all .25s ease-in-out;
  width: 100%;
}
.video-container iframe.stick {
  bottom: 10px;
  box-shadow: 0px 5px 5px 0 #2a2a2a;
  height: 135px;
  left: auto;
  max-height: 135px;
  max-width: 240px;
  position: fixed;
  right: 10px;
  top: auto;
  width: 240px;
}
.section {
  padding: 5vh 0;
}
.content {
  margin: 0 auto;
  width: 95%;
}
.content h1 {
  margin: 25px 0;
}
.content p {
  font-weight: 300;
  line-height: 30px;
  margin: 0 0 20px;
}
@media only screen and (min-width: 768px) {
  .content {
    width: 65%;
  }
}
@media only screen and (min-width: 992px) {
  .content {
    width: 55%;
  }
}