nav.nav
  .menu.column.v-centered
    .container.column
      a.item-start(href="") Inicio
  .container.line.justify-between.v-centered
    .burger-box: .burger: span
    a(href="https://www.datasketch.co/es"): img(src="assets/media/logo.png", alt="Logo Datasketch")