main {
	padding-bottom: 3vw;
}
.post-main-title {
	margin: 3vw 0;
	text-transform: uppercase;
}
.post-subtitle {
	margin: 2vw 0;
}
p {
	margin-bottom: 1.5vw;
}
.author {
	display: flex;
	display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1.5vw;
}
.author-avatar {
	border-radius: 50%;
	width: 70px;
	margin-right: 1vw;
}
.author-info > * {
	margin: 0;
}