main {
	padding-bottom: 3vw;
}
.post-main-title {
	margin: 3vw 0;
	text-transform: uppercase;
}
.post-subtitle {
	margin: 2vw 0;
}
p {
	margin-bottom: 1.5vw;
}
.author {
	display: flex;
	display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1.5vw;
}
.author-avatar {
	border-radius: 50%;
	width: 70px;
	margin-right: 1vw;
}
.author-info > * {
	margin: 0;
}
.panel {
  box-shadow: none;
  border: none;
}
.panel-default {
  border-color: none;
}
.panel-default > .panel-heading {
  background-color: transparent;
}
.panel-title > a {
	font-size: large
}
.panel-title > a span {
  color: #190c41;
  transition: all 0.25s linear;
}
.panel-body {
  border-top: none !important;;
}
.panel-body p {
  font-size: 14px;
}
div[arialabelledby^="panel-"] {
	padding: 10px 15px;
}
.to-group {
	transform: rotate(180deg);
}