@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900');
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: border-box;
	outline: none;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#wrapper {
	display: -webkit-box;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: relative;
	width: 100%;
}
#wrapper main {
	-webkit-box-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	position: relative;
}
#wrapper footer {
	background-color: #2a2a2a;
	color: white;
}
#wrapper footer .footer-container {
	margin: 0 auto;
	max-width: 70%;
	padding: 1rem 0;
}
#wrapper footer a {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}
#wrapper footer img {
	display: block;
	margin: 0 auto;
}

#wrapper main.main-post {
	margin-top: 59px;
}
/* ==================== */
/*        HEADER        */
/* ==================== */
header {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
}
.header-content {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.header-content button,
.header-content a {
	z-index: 5;
}
.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
	background: white;
	height: 3px;
	width: 32px;
}
header .menu {
	align-items: center;
	background: #232b2b;
	height: 100vh;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: all 0.25s ease-in-out;
	transition-delay: 0.25s;
	width: 0;
}
header .menu .menu-container {
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 100%;
	width: 100%;
}
header .menu .menu-container .navigation {
	list-style: none;
	padding: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s linear;
}
header .menu .menu-container .navigation li {
	padding: 10px;
}
header .menu .menu-container .navigation li a {
	color: white;
	font-size: 20px;
	position: relative;
	text-decoration: none;
}
header .menu .menu-container .navigation li a:hover {
	color: white;
}
header .menu .menu-container .navigation li a:before {
	-ms-transform: scaleX(0);
	-webkit-transform: scaleX(0);
	background-color: white;
	bottom: 0;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: all 0.25s ease-in-out;
	visibility: hidden;
	width: 100%;
}
header .menu .menu-container .navigation li a:hover:before {
	-ms-transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transform: scaleX(1);
	visibility: visible;
}
header .menu.opened {
	width: 100%;
	transition: all 0.25s ease-in-out;
	transition-delay: 0s;
}
header .menu.opened .navigation {
	opacity: 1;
	visibility: visible;
	transition: all 0.25s linear;
	transition-delay: 0.25s;
}
header .space {
	-webkit-box-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

header.nav-post {
	background-color: #2a2a2a;
}
/* ==================== */
/*        HELPERS       */
/* ==================== */
.full-section {
	height: 100vh;
	position: relative;
	width: 100%;
}
.invert {
	filter: brightness(0) invert(1);
	-webkit-filter: brightness(0) invert(1);
}
.titillium {
	font-family: 'Titillium Web', sans-serif;
}
.titillium-thin {
	font-weight: 200;
}
.titillium-light {
	font-weight: 300;
}
.titillium-regular {
	font-weight: 400;
}
.titillium-semibold {
	font-weight: 600;
}
.titillium-bold {
	font-weight: 700;
}
.titillium-black {
	font-weight: 900;
}
.titillium-italic {
	font-
}