
#audios-container{
  padding: 30px;
}

#escucha-historias-con-arboles{
	text-align: center;
  font-family: 'Oswald', sans-serif;
}
#escucha-historias-con-arboles > p{
  font-size: 20px;
}

#home-audios {
  background-color: #88cbbf;
  color: #ffffff;
}

#image-app-container {
  position: relative;
  margin: 20px auto 0;
  margin-top: 0;
  width: 100%;
}
#image-app {
  display: block;
  position: relative;
  width: 100%;
}
#app-button {
  position: absolute;
  transform: translate(-50%,-50%);
  margin-right: -50%;
  top: 50%;
  left: 50%;
  font-family: 'Oswald', sans-serif;
  background-color: #e7e667;
  border: 2px solid #d6d566;
  color: black;
  font-size: 22px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0px 3px 1px 0 #2a2a3f;
  transition: all 0.25s linear;
}
#app-button:hover {
  background-color: #133d3c;
  border-color: #133d3c;
  color: #ffffff;
}

.stripe{
  padding: 20px 20px 0px 60px;
}
.stripe h3{
  font-size: 24px;
}
.stripe img{
  width: 180px;
  height: 300px;
}
.stripe ul{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  padding: 0;
}

.stripe1{
  background-color: #ffffe3;
}
.stripe2{
  background-color: #ffffff;
}
.stripe3{
  background-color: #fbf9ed;
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}