@import './config/default';

.content {
  margin: 0 auto;
  padding: 5vh 0;
  width: 100%;
}
.content h1 {
  margin: 25px 0;
}
.content p {
  font-weight: 300;
  line-height: 30px;
  margin: 0 0 20px;
}
@media only screen and (min-width: 768px) {
  .content {
    width: 65%;
  }
}
@media only screen and (min-width: 992px) {
  .content {
    width: 55%;
  }
}