<header class='p-4{{ if eq .Section "posts" }} fixed z-10 w-full text-white{{ end }}'>
  <nav class="flex justify-between items-center container mx-auto">
    <a href="{{ .Site.BaseURL }}" class="w-40">
      <img src='{{ "images/datasketch.svg" | absURL }}' alt="" class='{{ if eq .Section "posts" }}img-white{{ end }}'>
    </a>
    <div class="nav-right">
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" target="_blank" rel="noopener noreferrer" class="ml-2">
          <i class="fab fa-{{.Name}}"></i>
        </a>
      {{ end }}
    </div>
  </nav>
</header>