extends ./partials/layout

block title
  title Corruptour

block css
  link(rel="stylesheet", href="assets/css/index.css")

block header
  nav.BgYellow
    include ./partials/menu
    .nav-content: .container
      .Row.SpaceBetween.VerticalCenter
        .burger-box: .burger: span
        .logos.Row.VerticalCenter
          a(href="href='http://transparenciacolombia.org.co/', target='_blank', rel='noopener noreferrrer'"): img(src="assets/media/logo_transparencia.png", alt="Transparencia por Colombia")
          a(href='https://www.datasketch.co/es', target='_blank', rel='noopener noreferrrer'): img(src="assets/media/logo_datasketch.png", alt="Datasketch")

block main
  main
    .Full.BgYellow.Column.VerticalCenter
      .container
        .main-banner
          img(src="assets/media/logo_corruptour.png", alt="Corruptour")
          .main-banner-info.Titillium
            h2 Elecciones Congreso 2018
            p El Corruptour es un proyecto innvovador de movilización ciudadana contra la corrupción. Es un recorrido en una chiva por los principales lugares emblemáticos de la corrupción en Bogotá. La chiva transporta a cualquier ciudadano interesado en visualizar y entender mejor las repercusiones del fenómeno.
    .FullFixed
      iframe(src='https://uploads.knightlab.com/storymapjs/2736aaaee47ae0494bc95b1e120c3606/corruptour/index.html' frameborder='0' width='100%', height='100%')