extends ./partials/default

block title
  title Presidenciales 2018

block css
  link(rel="stylesheet", href="assets/css/index.css")

block main
  main.fill
    .half-section.column.v-centered.bg-bluegray
      .container.text-yellow-primary
        h1.text-center.main-title EL FUA PRESIDENCIAL

    .section
      .content
        h1.text-yellow-primary Título del texto
        .font-exo
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia delectus similique dolore enim pariatur accusantium voluptatum ab maiores voluptate. Cupiditate corporis amet blanditiis nisi, temporibus odio quas ea minus totam.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem error nemo facilis iure hic officiis voluptate maiores natus laboriosam id, quaerat ab voluptas voluptatum accusamus ipsa placeat quibusdam corporis, cumque, praesentium nam perspiciatis quos aspernatur repellat asperiores? Perferendis, repellendus rem?
          figure.column
            img(src="http://via.placeholder.com/720x405", alt="Imagen")
            figcaption.font-press: small Leyenda de imagen
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet non atque minus ipsum dolore ullam perferendis quae iusto quis corporis sed cumque reprehenderit laboriosam, mollitia quam autem eius sapiente distinctio iure blanditiis delectus! Tempora nemo magni officiis cumque rem ex voluptatum perspiciatis magnam, ducimus nesciunt, perferendis sed quibusdam, aspernatur deserunt.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nemo inventore esse nam voluptatibus a minus dignissimos rerum vero, totam animi eligendi suscipit rem! Eius obcaecati fuga quas ex minus, exercitationem voluptatem nesciunt pariatur rerum, maiores qui repudiandae sequi fugit dolor, assumenda dignissimos voluptates? Incidunt voluptas quaerat quos consequuntur facere!
      .video-manager.line.justify-end
        a.close-video(href="#") x
      .video-container
        <div id="video-content"></div>
      .content(style="padding: 20px 0 0")
        .font-exo
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, rerum, quibusdam pariatur dolorum explicabo voluptates dicta tempora id magni quo ipsam eaque sequi reprehenderit nihil optio harum quidem. Optio, esse?
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quis, eveniet optio facere nemo molestias provident esse fugiat culpa! Consectetur deserunt possimus fugiat ea expedita fuga. Temporibus, quia iure voluptate enim repellat fugiat dolor quo quos corporis provident, accusamus doloribus rem cum odio beatae sunt cupiditate molestias maxime harum alias deserunt hic ipsa consequuntur eaque! Vitae reiciendis iure sequi ipsum incidunt laudantium unde eveniet sit veritatis repellat. Nam eveniet dolorem iure est natus. Laudantium, veniam. Inventore autem soluta quaerat et excepturi provident alias exercitationem dolorum similique eum libero, ducimus dicta dignissimos accusamus aliquam asperiores. Deserunt ea hic maiores tempore? Temporibus?
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae facere, ex consectetur dolore nihil autem necessitatibus soluta reprehenderit excepturi impedit, magnam consequatur. Perferendis voluptatibus itaque, reiciendis voluptatum harum sit incidunt optio dolorum? Quod doloribus minima illum officia. Nemo, sit debitis!
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, ratione in optio pariatur suscipit eveniet quis tenetur animi quasi, veniam eum voluptates sit nesciunt, vero iste distinctio labore eius velit.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae vitae at aspernatur voluptatum dicta blanditiis id ab, praesentium nostrum deleniti optio, nam soluta debitis ea. Aliquam, ea ab! Sit tempora commodi accusamus mollitia eligendi tenetur dolor debitis repudiandae! Impedit velit distinctio neque alias doloremque culpa temporibus, ad similique quos!
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae soluta hic quam illo veritatis nihil voluptatem rerum nesciunt aliquid autem ullam atque repellendus quasi accusantium vitae asperiores libero cupiditate nobis, optio dolore et exercitationem! Aspernatur, tempore quam! Commodi voluptatem delectus tenetur, maiores ducimus quo, explicabo ex eaque deserunt corrupti eligendi animi incidunt iure expedita odio blanditiis hic natus ipsum numquam soluta. Similique, est mollitia? Ducimus quidem nemo aut inventore cupiditate!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat sint cupiditate possimus. A dolorum velit earum expedita praesentium voluptatem iusto quae dolores minus error ipsa accusamus nesciunt architecto, sint debitis beatae eum. Tempore ex ut voluptates molestiae eos reiciendis, iure aspernatur assumenda itaque, placeat error quaerat neque sint unde deserunt id amet exercitationem iusto optio inventore. Quo a architecto eveniet dignissimos, eligendi aliquam voluptatem libero dolorum in quis repellendus hic.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis reprehenderit eos tenetur non, nostrum id cupiditate necessitatibus molestias dicta! At quam tempore quasi natus totam dignissimos sit aut beatae ut modi facere sed error maiores, harum accusantium! Porro molestiae similique deleniti architecto facilis sint dignissimos voluptate, commodi quos voluptates, ipsa fugit debitis! Temporibus quam unde in quaerat aperiam minus? Similique quas adipisci corrupti optio repellat natus totam sint dicta ad aspernatur! Accusamus quo itaque aspernatur culpa assumenda eos, repellat optio possimus. Animi, nobis officiis eveniet sit a ipsam, facere officia quos, ipsum sunt itaque fuga assumenda necessitatibus corrupti nam iste. Pariatur maiores nisi sapiente? Totam quos repellat deleniti ipsa adipisci quasi eveniet officiis reprehenderit. Mollitia odit eius aspernatur fugiat, provident beatae suscipit quae perferendis rem vitae ducimus dolorem a tempora nihil sed alias, obcaecati numquam earum temporibus aperiam omnis quidem ratione? Illo ducimus fugiat quis dolores dolorum impedit saepe ipsum?
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic eaque aut eligendi. Enim, rerum! Necessitatibus enim suscipit eligendi mollitia illum corrupti doloribus rem architecto, inventore distinctio quo doloremque vero quae harum nostrum officia a unde nihil maiores porro voluptate libero, optio sit quaerat. Ab nobis dolore distinctio natus assumenda sed perferendis aperiam adipisci vitae vel id magni aliquid, molestiae dolorum, doloribus similique ipsam repellendus ipsa consequuntur nulla nostrum at. Adipisci ratione repellendus accusamus, enim aperiam natus, sapiente ipsum nesciunt dolor nihil omnis neque odio, hic impedit numquam porro. Repellat nostrum exercitationem, eligendi iure voluptate odit porro voluptates iusto ad? Beatae repellat repellendus neque sed! Quae, impedit. Temporibus, molestias? Error enim debitis quod vitae? Et sunt cum ex tempore quisquam quo hic dignissimos repudiandae quod nemo eaque impedit debitis nam nihil nesciunt, unde quam commodi perspiciatis iste molestiae fuga sit! Sequi illum perspiciatis reprehenderit cupiditate recusandae soluta ratione consequatur quos! Minus officiis quasi dicta debitis optio tempora maiores ipsa facilis ad, obcaecati, incidunt veritatis odio praesentium consequuntur. Voluptatem, omnis odio optio voluptates quo labore modi alias dolore nam quidem dolores dolor temporibus? Nemo ipsam dolor quam, possimus eius quaerat nostrum sapiente neque, sint quod, non minima voluptates explicabo assumenda harum atque!

block js
  script(src="assets/js/index.js")
