extends ./partials/default

block title
  title Presidenciales 2018

block css
  link(rel="stylesheet", href="assets/css/index.css")

block main
  main.fill
    .full-section.bg-blue(style="position: relative")
      .screen-container.column.centered
        .container.screen-outer.column
          .screen-inner.bg-bluegray.column.centered
            .container.column.centered
              h1.text-yellow-primary NOMBRE DEL ESPECIAL
    
    .section.container
      .content
        h1.text-yellow-primary Título del texto
        .font-exo
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia delectus similique dolore enim pariatur accusantium voluptatum ab maiores voluptate. Cupiditate corporis amet blanditiis nisi, temporibus odio quas ea minus totam.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem error nemo facilis iure hic officiis voluptate maiores natus laboriosam id, quaerat ab voluptas voluptatum accusamus ipsa placeat quibusdam corporis, cumque, praesentium nam perspiciatis quos aspernatur repellat asperiores? Perferendis, repellendus rem?
          figure.column
            img(src="http://via.placeholder.com/720x405", alt="Imagen")
            figcaption.font-press: small Leyenda de imagen
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet non atque minus ipsum dolore ullam perferendis quae iusto quis corporis sed cumque reprehenderit laboriosam, mollitia quam autem eius sapiente distinctio iure blanditiis delectus! Tempora nemo magni officiis cumque rem ex voluptatum perspiciatis magnam, ducimus nesciunt, perferendis sed quibusdam, aspernatur deserunt.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nemo inventore esse nam voluptatibus a minus dignissimos rerum vero, totam animi eligendi suscipit rem! Eius obcaecati fuga quas ex minus, exercitationem voluptatem nesciunt pariatur rerum, maiores qui repudiandae sequi fugit dolor, assumenda dignissimos voluptates? Incidunt voluptas quaerat quos consequuntur facere!
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, rerum, quibusdam pariatur dolorum explicabo voluptates dicta tempora id magni quo ipsam eaque sequi reprehenderit nihil optio harum quidem. Optio, esse?
        