<div class="px-4">
  <div class="content">
    <div class="lg:-mx-6 flex">
      <div class="w-full text-white text-center lg:px-6 md:w-2/3 md:ml-auto lg:w-1/2">
        <p class="text-3xl font-thin">Artículo #{{ .Weight }}</p>
        <h2 class="font-bold leading-none text-5xl lg:text-7xl uppercase">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <p class="text-xl mt-6 mb-8">{{ .Description }}</p>
        <a href="{{ .Permalink }}" class="inline-block bg-white text-mine-shaft text-center uppercase tracking-widest font-bold px-3 text-xl" style="mix-blend-mode: screen">Ver artículo</a>
      </div>
    </div>
  </div>
</div>