<footer class="px-4 py-6 bg-hint-of-red text-sm tracking-widest uppercase font-bold border-t">
  <div class="content">
    <div class="flex flex-col lg:flex-row lg:-mx-6">
      <div class="lg:px-6 lg:w-4/5">
        <p>Este es un trabajo de periodismo de datos del equipo de Datasketch. Revisa cómo creamos este especial en la <a href="/la-via-lactea/metodologia" class="text-observatory">metodología</a></p>
        <p class="mt-2">Todo el material en esta página es <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="text-observatory" target="_blank" rel="noopener noreferrer">CC-BY-SA</a>. Si reusas o adaptas recursos de esta página, por favor vincula y referencia nuestro artículo o sitio web.</p>
      </div>
      <div class="mt-2 self-center lg:px-6 lg:mt-0 lg:w-1/5">
        <img src='{{ "images/cc.png" | absURL }}' alt="CC-BY-SA" class="block mx-auto">
      </div>
    </div>
  </div>
</footer>