#hero-banner {
  background-image: url(../images/header_mobile.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain
}

.tab {
  transition: all 0.25s;
}

.tab.active:first-of-type,
.tab-content:first-of-type a {
  background-color: #26b1e4;
}

.tab.active:nth-of-type(2),
.tab-content:nth-of-type(2) a {
  background-color: #f3b73d;
}

.tab.active:last-of-type,
.tab-content:last-of-type a {
  background-color: #7bbf4c;
}

.tab-content:not(.active) {
  display: none;
}

.bullets {
  position: relative;
}

.bullets:before {
  border: thin solid #3757f7;
  content: '';
  height: auto;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  z-index: -1;
}

.bullet {
  cursor: pointer;
}

.bullet.active {
  background: #7bbf4c;
}

.bullet-btn.active {
  background-color: #3757f7;
}


button.loader {
  height: 40px;
  width: 40px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid rgba(55, 87, 247, 0.8);
  border-top-color: #fff;
  animation: spinner 600ms linear infinite;
}

@keyframes spinner {
    to {
      transform: rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
  #hero-banner {
    background-image: url(../images/header.png);
  }
  .bullets:before {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 100%;
    width: auto;
  }
}