#glossary
	input.search(type="text" placeholder="Buscar ingrediente")
	ul.ingredients-list.list
		li.glossary-letter A
		li
			strong.ingredient-name Arteza o Artesa:
			|  Recipiente que se usa para amasar el pan.
		li
			strong.ingredient-name Aliño:
			|  mezcla de especias y otros condimentos.
		li
			strong.ingredient-name Almidón de achira:
			|  Es el almidón que se extrae de la canna indica, una planta suramericana conocida también como sagú. Se usa principalmente para los bizcochos de achira, típicos del Huila.  
		li
			strong.ingredient-name Amero:
			|  Hojas de la mazorca con las que se hacen los envueltos de mazorca.
		li
			strong.ingredient-name Almirajo:
			|  Es una fruta globosa de la familia del zapote, es típica de la región del pacífico.
		li
			strong.ingredient-name Almizcle:
			|  Sustancia de fuerte olor.
		li
			strong.ingredient-name Arazá:
			|  Fruto originario de la región amazónica occidental.
		li
			strong.ingredient-name Azahar:
			|  flor del naranjo.
		li.glossary-letter B
		li
			strong.ingredient-name Babilla:
			|  Caimán joven.
		li
			strong.ingredient-name Badea:
			|  Fruta perteneciente a las frutas de la pasión.
		li
			strong.ingredient-name Barbatusca:
			|  Es un flor producida por el árbol de barbatusca.
		li
			strong.ingredient-name Batea:
			|   recipiente grande de madera, de forma circular u oblonga, y sin asas.
		li
			strong.ingredient-name Bija:
			|  Achiote.
		li
			strong.ingredient-name Bijao:
			|  El nombre de la planta Calathea lutea cuyas hojas son usadas para hacer envueltos, tamales o hallacas. 
		li
			strong.ingredient-name Bizcocho:
			|  En Colombia el bizcocho es el nombre que se da a las colaciones y galletas saladas, como las achiras o los bizcochos de manteca. Aunque esta denominación aún se usa, es más común que entre las nuevas generaciones sirva para designar tortas.
		li
			strong.ingredient-name Bizcochuelo:
			|   En Colombia se llamaba bizcochuelo a las masas dulces con las que se hacen las tortas.
		li
			strong.ingredient-name Bofe:
			|  Pulmón de las reses destinado a consumo.
		li
			strong.ingredient-name Buche:
			|  Bolsa membranosa que forma parte del sistema digestivo en algunos animales.
		li
			strong.ingredient-name Budare:
			|  Plancha de hierro o barro.
		li
			strong.ingredient-name Bulbo:
			|  Es toda planta que almacena su ciclo de vida completo en una estructura de almacenamiento subterránea.
		li
			strong.ingredient-name Burro:
			|  Además de ser el animal mamífero es la pirámide con palos altos en la que en el centro se le pone el fuego.
		li.glossary-letter C
		li
			strong.ingredient-name Cachapa:
			|  Arepa elaborada con maíz jojoto.
		li
			strong.ingredient-name Cachaza:
			|  Espuma del guarapo cuando empieza a cocerse, o espuma de una sopa o preparación. También se le llama así al aguardiente brasileño.
		li
			strong.ingredient-name Cachicamo:
			|  Armadillo.
		li
			strong.ingredient-name Calado:
			|  Galleta salada y seca, a veces enriquecida con mantequilla. En Argentina se lo conoce como galleta marinera o náutica y en inglés como sea biscuit.
		li
			strong.ingredient-name Cananguchos:
			|  Fruto de la palma del canangucho.
		li
			strong.ingredient-name Carambolo:
			|  Es una fruta exótica que cuando se corta tiene forma de estrella.
		li
			strong.ingredient-name Carantanta:
			|  Pega de la cocción del maíz.
		li
			strong.ingredient-name Carapacho:
			|  Cubierta o envoltura rígida, que protege el cuerpo de las tortugas y crustáceos.
		li
			strong.ingredient-name Carne serrana:
			|  Es carne de res o cerdo conservada en salmuera de sal de nitro.
		li
			strong.ingredient-name Casabe:
			|  Arepas grandes de harina de yuca.
		li
			strong.ingredient-name Catanga:
			|  Canasto.
		li
			strong.ingredient-name Caguinga:
			|  Cuchara de palo.
		li
			strong.ingredient-name Cedazo:
			|  Colador rígido hecho con crin de caballo o venas de hojas de palma.
		li
			strong.ingredient-name Chachafruto:
			|  Fríjoles en su vaina.
		li
			strong.ingredient-name Chambero:
			|  Camarón pequeño de marea.
		li
			strong.ingredient-name Charapa:
			|  Tortuga pequeña y comestible.
		li
			strong.ingredient-name Chaupiza:
			|  Es un pescado muy pequeño del río Guapi.
		li
			strong.ingredient-name Chicoria:
			|  Cilantro.
		li
			strong.ingredient-name Chigua:
			|  Fruto de la palma de chigua.
		li
			strong.ingredient-name Chillangua:
			|  Cilantro cimarrón.
		li
			strong.ingredient-name Chimbilaco:
			|  Pescado ahumado.
		li
			strong.ingredient-name Chinchulín:
			|  Tripas de res.
		li
			strong.ingredient-name Chipichipi:
			|  molusco marino comestible.
		li
			strong.ingredient-name Chontaduro:
			|  Fruto de la planta del chontaduro.
		li
			strong.ingredient-name Chugua:
			|  El tubérculo de la planta ullucus tuberosus. Usado en platos como el cocido boyacense. Sus hojas también se consumen. No está relacionado con las papas.
		li
			strong.ingredient-name Chulquín: 
			| El cogollo de la caña brava. Usado en la cocina caucana.
		li
			strong.ingredient-name Clavetear:
			|  Acción de introducir clavos de olor en unos orificios.
		li
			strong.ingredient-name Cidrayota:
			|  Fruto de la planta cidrayota.
		li
			strong.ingredient-name Cilantro cimarrón:
			|  El eryngium foetidum es una hierba aromática usada en la cocina caucana y vallecaucana. Su aroma recuerda al cilantro común pero es más fuerte. Ver también chillangua.
		li
			strong.ingredient-name Cogollo:
			|  Parte interior que es la más apretada, blanca y tierna de algunas plantas, como la lechuga y otras hortalizas.
		li
			strong.ingredient-name Copoazú:
			|  Fruto originario de la amazonía y centro de suramérica.
		li
			strong.ingredient-name Cremor tártato:
			|  Nombre común del bitartrato de potasio, un agente ácido usado con varios fines en la culinaria, especialmente para estabilizar las claras de los huevos al hacer merengue, ligar jaleas y prevenir la cristalización de los caramelos.
		li
			strong.ingredient-name Cucha:
			|  Pescado de río.
		li
			strong.ingredient-name Curuba:
			|  Fruto del passiflora tripartita, una planta enredadera pariente del maracuyá y la granadilla. De sabor predominantemente astringente, es usada en Colombia para hacer sorbetes y saborizar esponjados.
		li
			strong.ingredient-name Cuy:
			|  Nombre de origen quechua del roedor cavia porcellus. Su carne es consumida tradicionalmente en las áreas de influencia del antiguo imperio inca. En el caso de Colombia, el departamento de Nariño.
		li.glossary-letter D
		li
			strong.ingredient-name Dentón:
			|  Pez marino de hasta 1 m de longitud, color gris plateado con reflejos, cuerpo ovalado y comprimido, aletas espinosas, cabeza y escamas grandes, y algunos dientes salientes en forma de colmillo.
		li
			strong.ingredient-name Dumplings:
			|  Masitas de harina y en ocasiones mantequilla que se cocinan en agua para sumergirlas en las sopas. En Colombia son típicas del archipiélago de San Andrés y Providencia.
		li
			strong.ingredient-name Desrrillar:
			|  Deshuesar.
		li.glossary-letter F
		li
			strong.ingredient-name Fariña:
			|  Harina granulosa de yuca brava (manihot esculenta).
		li
			strong.ingredient-name Farofa:
			|   Harina granulosa de yuca brava (manihot esculenta).
		li
			strong.ingredient-name Frijol tapajeño:
			|  Tipo de frijol oriundo de la región de Nariño.
		li
			strong.ingredient-name Fruto del árbol del pan:
			|  originario del sudeste asiático, el fruto del artocarpus altilis llegó a las Antillas, donde su uso se popularizó en su cocina. El gran fruto verde contiene varias pepas grandes, carnosas. Es usado en el archipiélago de San Andrés y Providencia.
		li.glossary-letter G
		li
			strong.ingredient-name Gamitana:
			|  Nombre del colossoma macropomum, pescado de origen amazónico.
		li
			strong.ingredient-name Gasapo:
			|  Camarón negro de río.
		li
			strong.ingredient-name Grosella:
			|  Fruto pequeño y casi siempre rojo de un arbusto conocido como grosellero. Por extensión, cualquier pequeño fruto comestible de cualquier arbusto.
		li
			strong.ingredient-name Guaca:
			|  Hierba aromática usada para el mute santandereano. Su sabor es picante e incluso puede adormecer la lengua. No debe confundirse con la guasca.
		li
			strong.ingredient-name Guacharaca:
			|  El ave cuyo nombre científico es ortalis ruficauda. Propia de los bosques tropicales, hace un ruido vibrante, como el del instrumento al que le da su nombre, usado en el vallenato.
		li
			strong.ingredient-name Guacuco:
			|  El molusco cuyo nombre científico es polymesoda arctata, propio de la costa caribe.
		li
			strong.ingredient-name Guagua:
			|  El roedor de monte cuyo nombre científico es Cuniculus paca. Su carne es muy apreciada.
		li
			strong.ingredient-name Guandú:
			|  La leguminosa cuyo nombre científico es cajanus cajan. Originaria de África, es usada en la cocina caribe.
		li
			strong.ingredient-name Guasca:
			|  La galinsoga parviflora es una hierba silvestre propia de Suramérica. Su aroma particular es la razón por la que se usa principal o exclusivamente en Colombia para la elaboración del ajiaco santafereño.
		li
			strong.ingredient-name Guatín:
			|  El guatín es el nombre que se le da a los roedores de monte, a las especies del género dasyprocta, mamíferos de mediano tamaño que habitan las selvas suramericanas. 
		li
			strong.ingredient-name Guayabita:
			|  Variedad de pimienta. En otras partes se conoce como pimienta gorda y pimienta dulce.
		li
			strong.ingredient-name Gumarra:
			|  Gallina.
		li
			strong.ingredient-name Guineo:
			|  Banano o banana.
		li.glossary-letter H
		li
			strong.ingredient-name Harina de sagú:
			|  ver almidón de achira.
		li
			strong.ingredient-name Hibia:
			|  El tubérculo conocido como oxalis tuberosa. Se usa en el cocido boyacense.
		li.glossary-letter I
		li
			strong.ingredient-name Icaco:
			|  Fruto de la planta icaco.
		li
			strong.ingredient-name Iguazas:
			|  Pato salvaje.
		li.glossary-letter L
		li
			strong.ingredient-name Labios de res:
			|  Los músculos que rodean la boca de la res.
		li
			strong.ingredient-name Lejía:
			|  La ceniza que queda del fogón, cal, óxido de calcio.
		li
			strong.ingredient-name Lisa:
			|  Pescado de la familia de los mugílidos.
		li.glossary-letter M
		li
			strong.ingredient-name Majaja:
			|  Es un bocadillo típico de la costa pacífica de colombia. Se trata de una arepa de choclo con panela raspada.
		li
			strong.ingredient-name Malanga:
			|  Raíz de la planta cuyo nombre científico es colocasia esculenta.
		li
			strong.ingredient-name Mañoco:
			|  Harina granulosa de yuca, similar a la fariña.
		li
			strong.ingredient-name Marmita:
			|  Olla gruesa de hierro.
		li
			strong.ingredient-name Mejorana:
			|  Es una hierba cultivada como condimento.
		li
			strong.ingredient-name Milpezo:
			|  Fruto de la palma de socoromo o milpezo.
		li
			strong.ingredient-name Moriche:
			|  Variedad llanera de palma.
		li
			strong.ingredient-name Muncillá:
			|  Camarón colorado de río.
		li.glossary-letter N
		li
			strong.ingredient-name Nacume:
			|  Palmito criollo.
		li
			strong.ingredient-name Naidí:
			|  Fruto de la palma de naidí o açaí.
		li.glossary-letter O
		li
			strong.ingredient-name Onote:
			|  Achiote.
		h2.glossary-letter P
		li
			strong.ingredient-name Pajarilla:
			|  El bazo de la res.
		li
			strong.ingredient-name Pataló:
			|  El pescado cuyo nombre científico es ichthyoelephas longirostris. También se conoce como besudo, besote, getudo, hocicón y jetón. Es una especie en peligro de extinción.
		li
			strong.ingredient-name Pateburro:
			|  Molusco de gran tamaño usado en la cocina del pacífico y caribe.
		li
			strong.ingredient-name Piandé:
			|  Un tipo de lagarto. Los huevos de piandé, según El gran libro de la cocina colombiana, «son el manjar preferido de los indios “cholos”, quienes [les] atribuyen el hecho de no sudar y la falta de vello en el cuerpo».
		li
			strong.ingredient-name Piangua:
			|  El molusco cuyo nombre científico es anadara tuberculosa. Tiene su hábitat en los manglares del Pacífico, donde crece entre el barro. Allí es recogida para su consumo.
		li
			strong.ingredient-name Piñuela:
			|  Fruto dulce con sabor similar a la piña.
		li
			strong.ingredient-name Pirarucú:
			|  El pez cuyo nombre científico es arapaima gigas. Es un pez gigantesco de la Amazonia, el segundo más grande del mundo de agua dulce. Puede llegar a medir 3 metros. Se considera una especie vulnerable. 
		li
			strong.ingredient-name Pomarrosa:
			|  Fruto del árbol pomarrosa.
		li
			strong.ingredient-name Ponche:
			|  Cerdo salvaje.
		li.glossary-letter S
		li
			strong.ingredient-name Salmuera:
			|  Salsa para aderezar ensaladas, que lleva como base vinagre y sal.
		li
			strong.ingredient-name Sangará:
			|  Piangua grande.
		li
			strong.ingredient-name Sábalo:
			|  Bocachico.
		li
			strong.ingredient-name Seje:
			|  La palma cuyo nombre científico es oenocarpus bataua.
		li
			strong.ingredient-name Soasar:
			|  Medio asar o asar ligeramente.
		li
			strong.ingredient-name Socoromo:
			|  Fruto de la palma de socoromo o milpezo.
		li
			strong.ingredient-name Sultán:
			|  Camarón blanco grande de río.
		li.glossary-letter T
		li
			strong.ingredient-name Trillado:
			|  Descascarado o pelado en la cubierta del grano, eliminando eliminando por pulimento las cáscaras.
		li
			strong.ingredient-name Torcaza:
			|  Tipo de paloma.
		li
			strong.ingredient-name Toyo:
			|  Es un tiburón joven, muy apreciado por los guapireños.
		li
			strong.ingredient-name Tulizio:
			|  Armadillo blanco grande.
		li
			strong.ingredient-name Tungo:
			|  Envueltos de arroz de los Llanos Orientales.
		li.glossary-letter U
		li
			strong.ingredient-name Ulluco:
			|  Chugua.
		li.glossary-letter V
		li
			strong.ingredient-name Vitoria:
			|  Calabaza.