<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block meta
    block title
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    link(rel="stylesheet", href="assets/css/site.css")
    block css
  body
    #wrapper.Column
      block header
      block main
      footer.bg-emerald.text-color--white.font-family--exo
        .container-small
          p
            | Este es un trabajo de periodismo de datos del equipo de 
            a.text-color--white(href="equipo.html") Datasketch
            | .
            //- | . Revisa cómo creamos este especial en la 
            //- a.text-color--white(href="metodologia.html") metodología
          p
            | Todo el material en esta página es 
            a.text-color--white(href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer") CC-BY-SA
            | . Si reusas o adaptas recursos de esta página, por favor vincula y referencia nuestro artículo o sitio web.
          img.block(src="assets/media/cc.png", alt="Creative Commons")
    block js