.menu.Column.VCenter
  .container-section: ul.font-family--exo
    li: a(href="index.html") Inicio
    li: a(href="los-mas.html") Los más +
    li: a(href="radiografia.html") Radiografía de elecciones al congreso 2018
    li: a(href="metodologia.html") Metodología
    li: a(href="equipo.html") Nuestro equipo